- if !objs.present? and !params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt
    = render :partial => 'admin/layouts/index_no_data_message', :locals => {:title => 'invitee_accesses', :url => "/admin/events/#{params[:event_id]}/invitee_accesses/new", :msg => 'test'} 
-elsif !objs.present? and params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt
    = get_search_data("invitee_accesses")
- else  
  %table.table.mdl-data-table.fullwidth.ml-table-striped.ml-table-bordered.sequenceInputWidht{"template-pagination" => "custom/pager"}
    %tr
      %th Invitee Id
      %th Invitee Name
      %th  
    - objs.each do |invitee_access|
      %tr
        %td.font16= invitee_access.invitee_id rescue nil
        %td.font16= Invitee.get_invitee_name(invitee_access.invitee_id) rescue nil
        %td.IconDrp
          = more_vert_button(invitee_access.id)
          %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{invitee_access.id}"}
            = edit_link(params, invitee_access.id)
            = delete_link(params, invitee_access.id)
  = will_paginate objs 
