%main.mdl-layout__content.mdl-color--grey-100.page.ng-scope
  %section.tables-data.agendaPage
    .ml-header.relative.clear.mdl-color--light-blue-800
      .mdl-grid.mdl-grid--no-spacing
        .p-t-10.p-l-40.p-r-40
          %h3.mdl-color-text--white.m-t-20.m-b-5.agendatitle Manage Agenda
    .mdl-grid.mdl-grid--no-spacing
      .mdl-cell.mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        .p-35.ml-card-holder.ml-card-holder-first.HeaderHeight
          .mdl-card.mdl-shadow--1dp.m-b-30.clients.bgWhite
            .mdl-card__title.mdl-color--light-blue-600.mdl-typography--text-right.displayBlock
              %h2.mdl-card__title-text.mdl-color-text--white.displayBlock.mdl-typography--text-right.displayBlock.mdl-typography--text-right.heightHeading
                = render :partial => 'admin/layouts/add_link'
            - if !@agendas.present?
              .mdl-typography--text-center.BlnkTxt.p-t-10
                - page = params[:controller].split("/").second
                - if page == "agendas"
                  - event_feature = @event.event_features.where(:name => page)
                  - page = page.titleize
                  - if event_feature.blank?
                    = "This feature is not available you need to "
                    - if @event.mobile_application.present?
                      = link_to "Enable it.", edit_admin_event_mobile_application_path(:event_id => @event.id, :id => @event.mobile_application.id,:type => "event_edit") ,:class => " centerAlign"
                    - else
                      = link_to "Enable It.", new_admin_client_mobile_application_path(:client_id => @event.client_id) ,:class => " centerAlign"
                  - else
                    = render :partial => 'admin/layouts/index_no_data_message', :locals => {:title => 'agendas', :url => "/admin/events/#{params[:event_id]}/agendas/new", :msg => 'test'}
            - else 
              .mdl-tabs.mdl-js-tabs.ProfileTabLeft.agendasTab.is-upgraded{"data-upgraded" => ",MaterialTabs"}
                .mdl-tabs__tab-bar.p-h-70.bgWhite 
                  / %a.mdl-tabs__tab.newtab{"data-target" => "agenda_timeline", :class => 'is-active', :href => "javascript:void(0);"}
                  /   = 'ALL'
                  .owl-carousel.owl-theme#owl-demo
                    - @agendas = agenda_group(@agendas)  
                    - @agendas.keys.each_with_index do |date, index|  
                      %a.mdl-tabs__tab.newtab#date_agenda{"data-target" => "newtab#{date}", :class => "newtab#{date}", :href => "javascript:void(0);"}
                        / = date.strftime('%d %b %Y') rescue nil
                        =# date_with_zone(@agendas[date].first.start_agenda_time, 'IST')
                        = date.strftime("%d-%m-%Y")
              .mdl-grid.mdl-grid--no-spacing 
                %section.view-container.animate-fade-up{"data-ui-view" => ""}
                  .agendatimeline.ng-scope 
                    .ui-timline-container 
                      %section.ui-timeline 
                        - count = 1 
                        - count1 = 1 
                        - @agendas.keys.each do |date|
                          %div{:id => date, :class => "agenda_timeline newtab#{date}"}
                            .mdl-typography--text-center.BlnkTxt
                              .sequence_update
                                %table.table.mdl-data-table.fullwidth.ml-table-striped.ml-table-bordered.font16.ng-scope.ng-table{"template-pagination" => "custom/pager"}
                                  %tbody
                                    %tr
                                      %th Sequence
                                      %th Track
                                      %th Title
                                      %th Speaker
                                      %th Start Date/Time 
                                      %th End Date/Time
                                      %th Description
                                      %th   
                                    - without_track = @agendas[date].where("agenda_track_id is null")
                                    - with_track = @agendas[date].unscoped.where('Date(start_agenda_date) = ? and agenda_track_id is not null and agendas.event_id = ?', date,params[:event_id]).order(:agenda_track_id)
                                    - with_track = with_track.joins(:agenda_track).sort_by { |obj| obj.agenda_track.sequence}
                                    - @agendas[date] = without_track + with_track.uniq { |obj| obj.agenda_track}
                                    / %td.font16= agenda.title
                                    - without_track.each_with_index do |agenda,index|
                                      %tr                                 
                                        %td
                                        %td
                                        - if (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role]))#!(current_user.has_role? :db_manager)
                                          %td.font16= link_to agenda.title, admin_event_agenda_path(agenda.event_id,agenda.id)
                                        - else
                                          %td.font16= agenda.title
                                        %td.font16= agenda.speaker_name 
                                        / %td.font16= agenda.start_agenda_time
                                        %td.font16= formatted_time(agenda.start_agenda_time, "%d-%m-%Y %I:%M %p")
                                        / %td.font16= agenda.end_agenda_time
                                        %td.font16= formatted_time(agenda.end_agenda_time, "%d-%m-%Y %I:%M %p")
                                        %td.font16= agenda.discription                                          
                                        %td.IconDrp.agendtaIconDrp
                                          - if (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role]))#!(current_user.has_role? :db_manager)
                                            = more_vert_button(agenda.id)
                                            %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{agenda.id}"}
                                              = edit_link(params, agenda.id)
                                              = delete_link(params, agenda.id)
                                    - with_track = with_track.uniq { |obj| obj.agenda_track} 
                                    - with_track.each_with_index do |agenda, index|          
                                      %tr
                                        %td.font16
                                          .orderseq
                                            - if index != 0 #agenda.agenda_track.sequence != 1
                                              %span= link_to "",admin_event_sequence_path(:event_id => agenda.event_id, :id => agenda.agenda_track.id, :seq_type => "up", :feature_type => "agenda_tracks"),:class => "uparrow", :method => "put", :remote => true  
                                            - if index+1 != with_track.length
                                              %span= link_to "",admin_event_sequence_path(:event_id => agenda.event_id, :id => agenda.agenda_track.id, :seq_type => "down", :feature_type => "agenda_tracks"),:class => "downarrow", :method => "put", :remote => true
                                        %td.font16= agenda.agenda_track.track_name if agenda.agenda_track.present?
                                      - agenda.agenda_track.agendas.each_with_index do |track_agenda, index|
                                        %tr
                                          %td
                                          %td
                                          - if (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role]))#!(current_user.has_role? :db_manager)
                                            %td.font16
                                              = link_to track_agenda.title, admin_event_agenda_path(track_agenda.event_id,track_agenda.id)
                                          - else
                                            %td.font16= track_agenda.title 
                                          %td.font16
                                            = track_agenda.speaker_name.present? ? track_agenda.speaker_name : '-'
                                          %td.font16
                                            = formatted_time(agenda.start_agenda_time, "%d-%m-%Y %I:%M %p")
                                          %td.font16
                                            = formatted_time(agenda.end_agenda_time, "%d-%m-%Y %I:%M %p")
                                          %td.font16
                                            = track_agenda.discription.present? ? track_agenda.discription : '-'
                                          %td.IconDrp.agendtaIconDrp
                                            - if (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role]))#!(current_user.has_role? :db_manager)
                                              = more_vert_button(track_agenda.id)
                                              %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{track_agenda.id}"}
                                                = edit_link(params, track_agenda.id)
                                                = delete_link(params, track_agenda.id)        

    / - if @feedbacks.present?
    = render :partial => 'admin/layouts/more_links'
:javascript                          
  $(window).load(function(){
    if("#{params[:d]}"){
      $('.'+'newtab'+"#{params[:d]}").trigger("click");
    }
    else
    {    
      $('.owl-wrapper').first().children().children().eq(0).addClass('first-date');
      $('.first-date').trigger("click");
    }  
  });
  $(document).ready(function(){
    $('.newtab').click(function(){
      var el = $(this).attr('data-target');
      $('.agenda_timeline').hide();
      $('.newtab').removeClass('is-active');
      $(this).addClass('is-active');
      $('.'+el).fadeIn(1000);
    });

    $('.owl-carousel').owlCarousel({
      margin:10,
      responsiveClass:true,
      navigation : true,
      pagination: false,
      responsive:{
          0:{
            items:1,
            nav:true
          },
          600:{
            items:2,
            nav:false
          },
          1000:{
            items:5,
            nav:true,
            loop:false
          }
      }
    })
  })

-if false #server code 
  %main.mdl-layout__content.mdl-color--grey-100.page.ng-scope
    %section.tables-data.agendaPage
      .ml-header.relative.clear.mdl-color--light-blue-800
        .mdl-grid.mdl-grid--no-spacing
          .p-t-10.p-l-40.p-r-40
            %h3.mdl-color-text--white.m-t-20.m-b-5.agendatitle Manage Agenda
      .mdl-grid.mdl-grid--no-spacing
        .mdl-cell.mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
          .p-35.ml-card-holder.ml-card-holder-first.HeaderHeight
            .mdl-card.mdl-shadow--1dp.m-b-30.clients.bgWhite
              .mdl-card__title.mdl-color--light-blue-600.mdl-typography--text-right.displayBlock
                %h2.mdl-card__title-text.mdl-color-text--white.displayBlock.mdl-typography--text-right.displayBlock.mdl-typography--text-right.heightHeading
                  = render :partial => 'admin/layouts/add_link'
              - if !@agendas.present?
                .mdl-typography--text-center.BlnkTxt.p-t-10
                  - page = params[:controller].split("/").second
                  - if page == "agendas"
                    - event_feature = @event.event_features.where(:name => page)
                    - page = page.titleize
                    - if event_feature.blank?
                      = "This feature is not available you need to "
                      - if @event.mobile_application.present?
                        = link_to "Enable it.", edit_admin_event_mobile_application_path(:event_id => @event.id, :id => @event.mobile_application.id,:type => "event_edit") ,:class => " centerAlign"
                      - else
                        = link_to "Enable It.", new_admin_client_mobile_application_path(:client_id => @event.client_id) ,:class => " centerAlign"
                    - else
                      = render :partial => 'admin/layouts/index_no_data_message', :locals => {:title => 'agendas', :url => "/admin/events/#{params[:event_id]}/agendas/new", :msg => 'test'}
              - else 
                .mdl-tabs.mdl-js-tabs.ProfileTabLeft.agendasTab.is-upgraded{"data-upgraded" => ",MaterialTabs"}
                  .mdl-tabs__tab-bar.p-h-70.bgWhite 
                    / %a.mdl-tabs__tab.newtab{"data-target" => "agenda_timeline", :class => 'is-active', :href => "javascript:void(0);"}
                    /   = 'ALL'
                    .owl-carousel.owl-theme#owl-demo
                      - @agendas = agenda_group(@agendas)  
                      - @agendas.keys.each_with_index do |date, index|  
                        %a.mdl-tabs__tab.newtab#date_agenda{"data-target" => "newtab#{date}", :class => "newtab#{date}", :href => "javascript:void(0);"}
                          / = date.strftime('%d %b %Y') rescue nil
                          =# date_with_zone(@agendas[date].first.start_agenda_time, 'IST')
                          = date.strftime("%d-%m-%Y")
                .mdl-grid.mdl-grid--no-spacing 
                  %section.view-container.animate-fade-up{"data-ui-view" => ""}
                    .agendatimeline.ng-scope 
                      .ui-timline-container 
                        %section.ui-timeline 
                          - count = 1 
                          - count1 = 1 
                          - @agendas.keys.each do |date|
                            %div{:id => date, :class => "agenda_timeline newtab#{date}"}
                              .mdl-typography--text-center.BlnkTxt
                                .sequence_update
                                  %table.table.mdl-data-table.fullwidth.ml-table-striped.ml-table-bordered.font16.ng-scope.ng-table{"template-pagination" => "custom/pager"}
                                    %tbody
                                      %tr
                                        %th Sequence
                                        %th Track
                                        %th Title
                                        %th Speaker
                                        %th Start Date/Time 
                                        %th End Date/Time
                                        %th Description
                                        %th   
                                      - without_track = @agendas[date].where("agenda_track_id is null")
                                      - with_track = @agendas[date].unscoped.where('Date(start_agenda_date) = ? and agenda_track_id is not null and agendas.event_id = ?', date,params[:event_id]).order(:agenda_track_id)
                                      - with_track = with_track.joins(:agenda_track).sort_by { |obj| obj.agenda_track.sequence}
                                      - @agendas[date] = without_track + with_track.uniq { |obj| obj.agenda_track}
                                      - @agendas[date].each_with_index do |agenda, index|
                                        %tr
                                          %td.font16
                                            .orderseq
                                              / - if agenda.agenda_track.present?
                                              /   - if index != 0 && agenda.agenda_track.present?
                                              /     %span= link_to "",admin_event_sequence_path(:event_id => agenda.event_id, :id => agenda.id, :seq_type => "up", :feature_type => "agendas"),:class => "uparrow", :method => "put", :remote => true
                                              /   - if agenda.agenda_track.sequence.to_i != 0 and (1) != index
                                              /     %span= link_to "",admin_event_sequence_path(:event_id => agenda.event_id, :id => agenda.id, :type => "down", :feature_type => "speakers"),:class => "downarrow", :method => "put", :remote => true
                                              - if agenda.agenda_track.present?
                                                - without_track_count =  without_track.count
                                                - if agenda.agenda_track.sequence != 1
                                                  %span= link_to "",admin_event_sequence_path(:event_id => agenda.event_id, :id => agenda.agenda_track.id, :seq_type => "up", :feature_type => "agenda_tracks"),:class => "uparrow", :method => "put", :remote => true
                                                - if agenda.agenda_track.sequence != 0 and (@agendas[date].length - 1) != index
                                                  %span= link_to "",admin_event_sequence_path(:event_id => agenda.event_id, :id => agenda.agenda_track.id, :seq_type => "down", :feature_type => "agenda_tracks"),:class => "downarrow", :method => "put", :remote => true
                                          %td.font16= agenda.agenda_track.track_name if agenda.agenda_track.present?
                                          - if agenda.agenda_track.present?
                                            %td.font16
                                              - agenda.agenda_track.agendas.each_with_index do |track_agenda, index|
                                                = link_to track_agenda.title, admin_event_agenda_path(track_agenda.event_id,track_agenda.id)
                                                = break_line.html_safe
                                            %td.font16
                                              - agenda.agenda_track.agendas.each_with_index do |track_agenda, index|
                                                = track_agenda.speaker_name.present? ? track_agenda.speaker_name : '-'
                                                = break_line.html_safe                            
                                            %td.font16
                                              - agenda.agenda_track.agendas.each_with_index do |track_agenda, index|
                                                / = track_agenda.start_agenda_time
                                                = formatted_time(track_agenda.start_agenda_time, "%d-%m-%Y %I:%M %p")
                                                = break_line.html_safe                              
                                            %td.font16
                                              - agenda.agenda_track.agendas.each_with_index do |track_agenda, index|
                                                / = track_agenda.end_agenda_time
                                                = formatted_time(track_agenda.end_agenda_time, "%d-%m-%Y %I:%M %p")
                                                = break_line.html_safe                           
                                            %td.font16
                                              - agenda.agenda_track.agendas.each_with_index do |track_agenda, index|
                                                = track_agenda.discription.present? ? track_agenda.discription : '-'
                                                = break_line.html_safe
                                            %td.IconDrp.agendtaIconDrp
                                              - agenda.agenda_track.agendas.each_with_index do |track_agenda, index|
                                                = more_vert_button(track_agenda.id)
                                                %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{track_agenda.id}"}
                                                  = edit_link(params, track_agenda.id)
                                                  = delete_link(params, track_agenda.id)     
                                                %br
                                                %br      
                                          - else
                                            / %td.font16= agenda.title
                                            %td.font16= link_to agenda.title, admin_event_agenda_path(agenda.event_id,agenda.id)
                                            %td.font16= agenda.speaker_name 
                                            / %td.font16= agenda.start_agenda_time
                                            %td.font16= formatted_time(agenda.start_agenda_time, "%d-%m-%Y %I:%M %p")
                                            / %td.font16= agenda.end_agenda_time
                                            %td.font16= formatted_time(agenda.end_agenda_time, "%d-%m-%Y %I:%M %p")
                                            %td.font16= agenda.discription                                          
                                            %td.IconDrp.agendtaIconDrp
                                              = more_vert_button(agenda.id)
                                              %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{agenda.id}"}
                                                = edit_link(params, agenda.id)
                                                = delete_link(params, agenda.id)
      / - if @feedbacks.present?
      = render :partial => 'admin/layouts/more_links'
  :javascript                          
    $(window).load(function(){
      if("#{params[:d]}"){
        $('.'+'newtab'+"#{params[:d]}").trigger("click");
      }
      else
      {    
        $('.owl-wrapper').first().children().children().eq(0).addClass('first-date');
        $('.first-date').trigger("click");
      }  
    });
    $(document).ready(function(){
      $('.newtab').click(function(){
        var el = $(this).attr('data-target');
        $('.agenda_timeline').hide();
        $('.newtab').removeClass('is-active');
        $(this).addClass('is-active');
        $('.'+el).fadeIn(1000);
      });

      $('.owl-carousel').owlCarousel({
        margin:10,
        responsiveClass:true,
        navigation : true,
        pagination: false,
        responsive:{
            0:{
              items:1,
              nav:true
            },
            600:{
              items:2,
              nav:false
            },
            1000:{
              items:5,
              nav:true,
              loop:false
            }
        }
      })
    })
 
