.save_button.mdl-card
  = form_for [:admin, @client], :builder => CustomFormBuilder do |f|
    .mdl-grid.mdl-shadow--1dp.p-b-30
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          General Information
          / %a{:href => '/whats_this/client/general_information/client_generalInfo.jpg', :class =>'helpTag testhelp fancybox'}
          /   what's this?
      = render :partial => "admin/layouts/whats_this_popup", :locals => {:image_name => "client_generalInfo.jpg", :section_id => "client_general_section"}
      = f.custom_text_field :name, "Client Name *"
      =# f.custom_text_field :client_code, "Client Code"
      = f.custom_text_area_field :remarks, "Remarks"
    .fixed-activon-btn-new  
      = f.custom_submit_button "SAVE"
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
        .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
          = back_button(:back)