%main.mdl-layout__content.mdl-color--grey-100.page.ng-scope               
  %section.tables-data
    .ml-header.relative.clear.mdl-color--light-blue-800
      .mdl-grid.mdl-grid--no-spacing
        .mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
          %h3.mdl-color-text--white.m-t-15.p-l-40.p-v-20 Manage Highlight Images
        / = render :partial => 'image_search'
    .mdl-grid.mdl-grid--no-spacing
      .mdl-cell.mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        .p-35.ml-card-holder.ml-card-holder-first.HeaderHeight
          .mdl-card.mdl-shadow--1dp.m-b-30.clients
            .mdl-card__title.mdl-color--light-blue-600.mdl-typography--text-right.displayBlock
              %h2.mdl-card__title-text.mdl-color-text--white.displayBlock.mdl-typography--text-right.displayBlock.mdl-typography--text-right 
                - if @highlight_image.present?
                  = @highlight_image.count 
                  Images  
            - if !@highlight_image.present? and !params[:admin_search].present?
              .mdl-typography--text-center.BlnkTxt.p-t-10
                Currently there are no images added.
                - if @event.present?
                  = link_to  "Add new",new_admin_event_highlight_image_path(:event_id => @event.id),:class => "centerAlign"
            -elsif !@highlight_image.present? and params[:admin_search].present?
              .mdl-typography--text-center.BlnkTxt.p-t-10
                the Record was not found
            - else
              %table.table.fullwidth.ml-table-striped.ml-table-bordered{"template-pagination" => "custom/pager"}
                %tr
                  %th 
                %tr.galleryTab.mdl-grid.mdl-grid--no-spacing    
                  - @highlight_image.each do |image|
                    %td.mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet
                      = link_to admin_event_highlight_image_path(:event_id => image.event_id, :id => image.id), :method => 'delete', :class => "galleryImg" do
                        %span.galleryclose
                          X
                        = image_tag(image.highlight_image_url(:small))
      -if @highlight_image.present?
        = render :partial => 'admin/layouts/more_links'