.col-sm-3.col-xl-3
  .panel.panel-tile
    .panel-body
      .row.pv5
        .col-xs-5.ph10
          = image_tag(image_path)
        .col-xs-7.pl5
          %h6.text-muted
            - if feature_count.blank?
              = link_to card_title, manage_link
            - else
              = card_title
          %h2.fs30.mt5.mbn
            - if feature_count.present? 
              = link_to feature_count, manage_link
      .row.pv5.AddmoreCard
        - if card_title != "Telecaller"   
          .col-xs-12.ph5
            = link_to new_label, new_link, :class => 'displayBlock'
            - if card_title == 'Mobile App' and @multi_mobile_applications.present? and @event.mobile_application.blank?
              = link_to 'Add To Existing Multi-Event app', admin_client_mobile_applications_path(:client_id => @event.client_id, :feature => 'events', :event_id => @event.id)
            / - elsif card_title == 'Registration' and @event.registration_settings.present?
            /   = link_to 'Manage Registration Setting', edit_admin_event_registration_setting_path(:event_id => @event.id, :id => @event.registration_settings.last.id)
