%main.mdl-layout__content.mdl-color--grey-100.page.ng-scope               
  %section.tables-data
    .ml-header.relative.clear.mdl-color--light-blue-800
      .mdl-grid.mdl-grid--no-spacing
        .mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
          %h3.mdl-color-text--white.m-t-15.p-l-40.p-v-20 Manage Users
    .mdl-grid.mdl-grid--no-spacing
      =# render :partial => 'admin/clients/search_users', :locals => {:@url => manage_users_admin_client_event_path(:client_id => @client.present? ? @client.id : params[:client_id], :id => @event.present? ? @event.id : params[:id])}
      .mdl-grid.mdl-grid--no-spacing
      .mdl-cell.mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        .p-35.ml-card-holder.ml-card-holder-first.HeaderHeight
          .mdl-card.mdl-shadow--1dp.m-b-30.clients
            .mdl-card__title.mdl-color--light-blue-600.mdl-typography--text-right.displayBlock
              %h2.mdl-card__title-text.mdl-color-text--white.displayBlock.mdl-typography--text-right.displayBlock.mdl-typography--text-right 
                = @users.count
                Users
            = notice
            %table.table.mdl-data-table.fullwidth.ml-table-striped.ml-table-bordered{"template-pagination" => "custom/pager"}
              %tr
                %th 
                  Name
              - @users.each do |user|
                %tr
                  %td.text-left{"data-title" => "'Client Name'"}
                    = user.first_name.capitalize rescue nil
                    =# link_to "#{f.first_name.capitalize rescue nil} ", admin_client_events_path(:client_id => f.id),:class => "collection-item"
                  %td{"data-title" => "'No. of Events'"}
                  %td.IconDrp{"data-title" => "''"}
                    %button.mdl-button.mdl-js-button.mdl-button--icon{:id => "demo-menu-lower-right#{user.id}"}
                      %i.material-icons more_vert
                    %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{user.id}"}
                      - if user_signed_in? and (current_user.has_any_role? :super_admin, :licensee_admin)
                        = link_to edit_admin_user_path(:id => user.id), :class => "mdl-menu__item" do
                          Edit
                        - user.aasm.events.each do |eve|
                          = link_to "#{eve.name.to_s.titlecase}".html_safe,{:action=>"update", :controller=>"admin/licensees", :id => user.id, :status => eve.name.to_s}, :method => "put", :class => "mdl-menu__item"
                        = link_to "/admin/assign_role_to_user?resource_type=event&resource_id=#{@event.id}&user_id=#{user.id}&role=event_admin&link=#{request.path_info}", :class => "mdl-menu__item" do
                          Add Event Admin
                      - if false#user_signed_in? and (current_user.has_role? :super_admin or current_user.has_role? :licensee_admin)
                        =# link_to 'admin_client_path(f.id)',:class =>"mdl-menu__item" do
                        -#  Remove Role
        
      = render :partial => 'admin/users/add_user_link'
