/ - if !@event.mobile_application.present?
/   .mdl-typography--text-center.BlnkTxt.p-t-10
/     = index_nodata_message("mobile_applications")
/     = link_to "add one now.",new_admin_client_mobile_application_path(:client_id => @client.id,:type=>"general"),:class => "centerAlign"
/ -else
= stylesheet_link_tag 'new-card'
%main.mdl-layout__content.mdl-color--grey-100.page.ng-scope
  - if params["history"] != "true"
    %section.menus
      .eventDetailSection.relative.clear
        / .eventLogoDiv
        /   = image_tag(@event.logo_url(:thumb)) rescue nil
        - page =  @event.event_name
        = render :partial => "/admin/dashboards/breadcumb_links",:locals => {:name => params[:controller],:page => page}
            
        / = @event.event_name.capitalize rescue nil
        / / %p
        / /   = @event.venues.capitalize rescue nil
        / / %p
        / /   = "Event Code : #{@event.event_code}" rescue nil if @event.event_code.present?
        / /   = "Pax : #{@event.pax}" rescue nil if @event.pax.present?
        / / %p
        / /   = "#{@event.start_event_date.strftime("#{@event.start_event_date.day.ordinalize} %b %Y")} #{@event.start_event_time.strftime("%l:%M %p")} To #{@event.end_event_date.strftime("#{@event.end_event_date.day.ordinalize} %b %Y")} #{@event.end_event_time.strftime("%l:%M %p")}" rescue nil 

        / %a.editLink.rededitLink{:href => edit_admin_client_event_path(:client_id => @event.client_id, :id => @event.id, :type => "general")}
        /   %i.material-icons edit 

        - if true
          %section#content.table-layout.animated.fadeIn
            .chute.chute-center
              .row.smallCard
                -if false
                  .col-sm-3.col-xl-3
                    .panel.panel-tile
                      .panel-body
                        .row.pv5
                          .col-xs-5.ph10
                            = image_tag("coloured_icons/mobile-app.png")
                          .col-xs-7.pl5
                            - if @event.mobile_application.blank?
                              %h6.text-muted.truncate
                                = 'Mobile App'
                              %h2.fs30.mt5.mbn 
                                = "0"
                            - else
                              %h6.text-muted= (@event.mobile_application.present? and @event.mobile_application.marketing_app_event_id.blank? ? "Mobile App" : "Landing Page")
                              %h2.fs40.mt5.mbn
                                = link_to "1", admin_event_mobile_application_path(:event_id => @event.id, :id => @event.mobile_application.id)
                        .row.pv5.AddmoreCard{:style => "margin-bottom : #{(check_curent_user_role("mobile_application") and @event.status != "pending") ? "23px" : "0px"}" }
                          .col-xs-12.ph5
                            - if @event.mobile_application.blank? and @event.status != "pending"
                              = link_to 'Add New', new_admin_event_mobile_application_path(:event_id => @event.id, :old_one => true), :class => 'displayBlock'
                              - if @multi_mobile_applications.present?
                                = link_to 'Add To Existing Multi-Event app', admin_client_mobile_applications_path(:client_id => @event.client_id, :feature => 'events', :event_id => @event.id)
                            -elsif @event.mobile_application.present?
                              = link_to "Manage Mobile Application",admin_event_mobile_application_path(:event_id => @event.id, :id => @event.mobile_application.id) 

                  .col-sm-3.col-xl-3.userdrop
                    .panel.panel-tile
                      .panel-body
                        .row.pv5
                          .col-xs-5.ph10
                            = image_tag("coloured_icons/user_3.png")
                          .col-xs-7.pl5
                            - event_users = User.get_users_based_on_resource(@event)
                            - if event_users.blank?
                              %h6.text-muted.truncate
                                = 'Manage Users'
                              %h2.fs30.mt5.mbn 
                                = "0"
                            - else
                              - total_users = event_users.count
                              %h6.text-muted Users
                              %h2.fs30.mt5.mbn
                                = link_to "#{total_users}", admin_event_users_path(:event_id => @event.id)
                        .row.pv5.AddmoreCard
                          - if user_signed_in? and (current_user.has_any_role?(:super_admin,:licensee_admin, :client_admin, :event_admin))
                            .col-xs-12.ph5
                              = link_to 'javascript:void(0);', :class =>"displayBlock" ,:id => 'event_show_card' do
                                New User
                              = render :partial => '/admin/users/add_user_with_role', :locals => {:page_id => 'event_show_card'}
              .row.smallCard.eventShowCard
                - if false
                  .col-sm-3.col-xl-3
                    .panel.panel-tile
                      .panel-body
                        .row.pv5
                          .col-xs-5.ph10
                            = image_tag("coloured_icons/mobile-app.png")
                          .col-xs-7.pl5
                            - if @event.mobile_application.blank?
                              %h6.text-muted.truncate
                                = 'Mobile App'
                              %h2.fs30.mt5.mbn{:style => "font-weight: 600; color: #444" }
                                = "0"
                            - else
                              %h6.text-muted Mobile App
                              %h2.fs30.mt5.mbn
                                = link_to "1", admin_event_mobile_application_path(:event_id => @event.id, :id => @event.mobile_application.id)
                        .row.pv5.AddmoreCard
                          .col-xs-12.ph5
                            - if @event.mobile_application.blank? and @event.status != "pending"
                              = link_to 'Add New', new_admin_event_mobile_application_path(:event_id => @event.id, :old_one => true), :class => 'displayBlock'
                              - if @multi_mobile_applications.present?
                                = link_to 'Add To Existing Multi-Event app', admin_client_mobile_applications_path(:client_id => @event.client_id, :feature => 'events', :event_id => @event.id)
                            - elsif @event.mobile_application.present?
                              = link_to "Manage Mobile Application",admin_event_mobile_application_path(:event_id => @event.id, :id => @event.mobile_application.id)

                = render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/mobile-app.png", :card_title => ((@event.mobile_application.blank? ? "Mobile App" : (@event.mobile_application.present? and @event.mobile_application.marketing_app_event_id.blank?) ? "Mobile App" : "Hub Space")), :feature_count => @event.mobile_application.blank? ? '0' : '1', :manage_link => @event.mobile_application.blank? ? 'javascript:void(0)' : admin_event_mobile_application_path(:event_id => @event.id, :id => @event.mobile_application.id), :new_link => @event.mobile_application.blank? ? new_admin_event_mobile_application_path(:event_id => @event.id, :old_one => true) : admin_event_mobile_application_path(:event_id => @event.id, :id => @event.mobile_application.id), :new_label => (@event.mobile_application.blank? ? 'Add New' : (@event.mobile_application.present? and @event.mobile_application.marketing_app_event_id.blank? ? 'Manage Mobile Application' : "Manage Hub Space"))}
                - if (@event.present? and @event.mobile_application.present? and !(current_user.has_role? :db_manager))
                  - if Rails.env.production?
                    = render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/analytics.png", :card_title => "Analytics", :feature_count => nil, :manage_link => admin_client_event_path(:client_id => params[:client_id], :id => @event.id, :analytics => true), :new_link => admin_client_event_path(:client_id => params[:client_id], :id => @event.id, :analytics => true), :new_label => 'View Analytics'}
                  - else
                    = render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/analytics.png", :card_title => "Analytics", :feature_count => nil, :manage_link => admin_client_event_path(:client_id => params[:client_id], :id => @event.id, :analytics => true), :new_link => admin_event_analytics_path(:event_id => @event.id), :new_label => 'View Analytics Html'}

                - if !Rails.env.production? and @event.mobile_application.present? and (current_user.has_role? :licensee_admin) and !(current_user.has_role? :db_manager)
                  = render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/database.png", :card_title => "Database", :feature_count => @event.invitee_structures.present? ? '1' : '0', :manage_link => @event.invitee_structures.present? ? admin_event_invitee_structures_path(:event_id => @event.id) : new_admin_event_invitee_structure_path(:event_id => @event.id), :new_link => @event.invitee_structures.present? ? admin_event_invitee_structures_path(:event_id => @event.id) : new_admin_event_invitee_structure_path(:event_id => @event.id), :new_label => @event.invitee_structures.present? ? 'Manage Database' : 'Add New'}

                  =# render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/database.png", :card_title => "Database", :feature_count => @event.mobile_application.blank? ? '0' : '1', :manage_link => admin_event_mobile_application_path(:event_id => @event.id, :id => @event.mobile_application.id), :new_link => 'javascript:void(0)'}
                - if !Rails.env.production? and @event.mobile_application.present? and (current_user.has_role? :licensee_admin) and !(current_user.has_role? :db_manager)
                  = render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/registration.png", :card_title => "Registration", :feature_count => @event.registrations.present? ? '1' : '0', :manage_link => (@event.registration_settings.present?) ?  admin_event_registration_settings_path(:event_id => @event.id) : new_admin_event_registration_setting_path(:event_id => @event.id), :new_link => (@event.registration_settings.present?) ? admin_event_registration_settings_path(:event_id => @event.id) : new_admin_event_registration_setting_path(:event_id => @event.id), :new_label => @event.registrations.present? ? 'Manage Registration' : 'Add New'}
                  =# render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/registration.png", :card_title => "Registration", :feature_count => @event.registrations.present? ? '1' : '0', :manage_link => (@event.registration_settings.present? and @event.registration_settings.first.registration == "external") ? edit_admin_event_registration_setting_path(:event_id => @event.id, :id => @event.registration_settings.first.id) : @event.registrations.present? ? edit_admin_event_registration_path(:event_id => @event.id,:id => @event.registrations.first.id) : new_admin_event_registration_path(:event_id => @event.id), :new_link => (@event.registration_settings.present? and @event.registration_settings.first.registration == "external") ? edit_admin_event_registration_setting_path(:event_id => @event.id, :id => @event.registration_settings.first.id) : @event.registrations.present? ? edit_admin_event_registration_path(:event_id => @event.id,:id => @event.registrations.first.id) : new_admin_event_registration_path(:event_id => @event.id), :new_label => @event.registrations.present? ? 'Manage Registration' : 'Add New'}

                / -if @event.event_features.pluck(:name).include? "invitees" and !(current_user.has_role? :db_manager)
                /   = render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/qr_scanner.png", :card_title => "QR Scanner", :feature_count => @event.registrations.present? ? '1' : '0', :manage_link => admin_event_qr_code_scanners_path(:event_id => @event.id), :new_link => admin_event_qr_code_scanners_path(:event_id => @event.id), :new_label => "Go To QR Scanner"}
                -if @event.event_features.pluck(:name).include? "invitees" and !(current_user.has_role? :db_manager)
                  = render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/qr_scanner.png", :card_title => "QR Scanner", :feature_count => @event.registrations.present? ? '1' : '0', :manage_link => admin_event_qr_scanner_details_path(:event_id => @event.id), :new_link => admin_event_qr_scanner_details_path(:event_id => @event.id), :new_label => "Go To QR Scanner"}  
                -if !(current_user.has_any_role?(:moderator,:telecaller,:db_manager))
                  = render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/telecaller.png", :card_title => "Telecaller", :feature_count => User.joins(:roles).where('roles.resource_type = ? and resource_id = ? and roles.name = ?', "Event", @event.id, "telecaller").count, :manage_link => admin_event_telecallers_path(:event_id => params[:id],:from_telecaller => "true"), :new_link => new_admin_event_telecaller_path(:event_id => params[:id]), :new_label => 'Add New'}
                - if !Rails.env.production? and (current_user.has_role? :licensee_admin) and (!current_user.has_role? :db_manager)
                  = render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/communication.png", :card_title => "Communication", :feature_count => @event.campaigns.present? ? @event.campaigns.count : '0', :manage_link => @event.campaigns.present? ? admin_event_campaigns_path(:event_id => @event.id) :  new_admin_event_campaign_path(:event_id => @event.id), :new_link => @event.campaigns.present? ? admin_event_campaigns_path(:event_id => @event.id) :  new_admin_event_campaign_path(:event_id => @event.id), :new_label => @event.campaigns.present? ? 'Manage Campaign' : 'Add New'}
                - if false
                  = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/database.png", :page_title => "Database", :feature_count => "0" }

                  = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/communication.png", :page_title => "Communication", :feature_count => "0" }
                  
                  = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/microsite.png", :page_title => "Microsite", :feature_count => "0" }

                  / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/registration.png", :page_title => "Registration", :feature_count => "0" }


                  / =render :partial => 'admin/events/new_event_card', :locals => {:image_path => "coloured_icons/registration.png", :card_title => "Registration Setting", :feature_count => @event.registration_settings.present? ? '1' : '0', :manage_link => @event.registration_settings.present? ? edit_admin_event_registration_setting_path(:event_id => @event.id,:id => @event.registration_settings.first.id) : new_admin_event_registration_setting_path(:event_id => @event.id), :new_link => @event.registration_settings.present? ? edit_admin_event_registration_setting_path(:event_id => @event.id,:id => @event.registration_settings.first.id) : new_admin_event_registration_setting_path(:event_id => @event.id), :new_label => @event.registration_settings.present? ? 'Manage Registration Setting' : 'Add New'}
                  
                  = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/travel.png", :page_title => "Travel", :feature_count => "0" }
                  
                  = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/housing.png", :page_title => "Housing", :feature_count => "0" }

                  = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/social-media.png", :page_title => "Social Media", :feature_count => "0" }
                  
                  = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/engagement_breadcumb.png", :page_title => "Engagement", :feature_count => "0" }
                  
                  = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/feedback.png", :page_title => "Feedback", :feature_count => "0" }
                  
                  = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/leads.png", :page_title => "Leads", :feature_count => "0" }
              - if params[:analytics].present? and @event.mobile_application.present?
                = render :partial => 'mobile_app_analytics'
              - elsif params[:detailed_analytics].present? and @event.mobile_application.present?
                = render :partial => 'mobile_app_detailed_analytics'
  -else 
    = render :partial => 'layouts/changes_history'