%html
  %table{"align" =>"center", "width" =>"600", "cellspacing"=>"0", "cellpadding"=>"0", "style"=>"font-family: 'Arial', Helvetica, sans-serif;border-collapse:collapse;font-size:15px; line-height:21px;color: #7e7e7e;-webkit-box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.2); box-shadow:0 1px 5px 6px rgba(0, 0, 0, 0.3);border-radius: 10px; margin-top:20px;"}
    %tr{"style" => "text-align:left;"}
      %td{:width => "600", :height => "60", :style => "vertical-align: middle;border-radius: 10px 10px 0 0;background: #d1d2d4;"}
        = image_tag(@invitee.event.inside_logo_url, :alt => "Event Logo",:style => "width:165px;height:50; margin-left: 20px;vertical-align: middle")
    %tr
      %td{:height => "20", :width => "600"}
    %tr
      %td
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
          %tr
            %td{:width => "50"}
            %td{:style => "background-color: #fff;", :width => "500"}
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
                %tr
                  %td
                    %p{:style => "font-size:20px;color: #3f3f3f;margin-top:0;"}
                      Get the
                      %span
                        = @invitee.event.event_name rescue ""
                      App Today!
                    %p
                      The mobile app for
                      %span{:style => "font-weight:600; color: #3f3f3f;"} 
                        = @invitee.event.event_name rescue ""
                      is now live and available for download.
                    %p
                      Simply search for
                      %span{:style => "font-weight:600; color: #3f3f3f;"} 
                        = @invitee.event.mobile_application.name rescue ""
                      in your Google Play or App Store, install it and use the following credentials to start enjoying a host of informative and interactive features available in the app :
                    %p{:style => "text-align: left;padding-top: 30px; margin: 0px;color: #3f3f3f; font-size: 16px;"}
                      = "Your User ID : #{@invitee.email}"
                    %p{:style => "text-align: left;padding-top: 20px;margin: 0px; color: #3f3f3f; font-size: 16px;"}
                      = "Your Password : #{@invitee.invitee_password}"
            %td{:width => "50"}
    %tr
      %td{:height => "20", :width => "600"}
    %tr
      %td
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
          %tr
            %td{:width => "50"}
            %td{:style => "background-color: #fff;", :width => "500"}
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
                %tr
                  %td
                    %p Looking forword to a great event!
                    %p
                      %span{:style => "font-weight:600; color: #3f3f3f;"} 
                        = @invitee.event.event_name rescue ""
            %td{:width => "50"}
    %tr
      %td{:height => "20", :width => "600"}
    %tr{:style => "color:#2a2a2a;font-size:10px;"}
      %td{:height => "20", :style => "background: #d1d2d4;border-radius: 0px 0px 10px 10px;"}