- if !objs.present? and !params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt
    = render :partial => 'admin/layouts/index_no_data_message', :locals => {:title => 'custom page', :url => "/admin/events/#{params[:event_id]}/custom_page1s/new", :msg => 'test'} 
-elsif !objs.present? and params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt
    = get_search_data("custom_pages")
- else  
  %table.table.mdl-data-table.fullwidth.ml-table-striped.ml-table-bordered.sequenceInputWidht{"template-pagination" => "custom/pager"}
    %tr
      %th Page Type
      %th
      %th  
        - objs.each do |custom_page|
          %tr
            %td.font16= custom_page.page_type rescue nil
            / %td.font16= invitee.company_name.capitalize rescue nil
            / %td.font16= invitee.designation.capitalize rescue nil
            / %td.font16= invitee.invitee_status.capitalize rescue nil
            / %td.font16= invitee.visible_status.capitalize rescue nil
            %td.IconDrp
              = more_vert_button(custom_page.id)
              %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{custom_page.id}"}
                = edit_link(params, custom_page.id)
                = delete_link(params, custom_page.id)
                / - invitee.aasm.events.each do |eve|
                /   = link_to "#{eve.name.to_s.titlecase}".html_safe,{:action=>"update", :controller=>"admin/invitees", :id => invitee.id, :visible_status => eve.name.to_s, :page => params[:page]}, :method => "put", :data => { confirm: 'Are you sure, you want to change the status.'},:class => "mdl-menu__item"
  / = will_paginate objs 
              