.popup-overlay
.ClientPopup
#register-form.pollWallForm.col.s12.ClientPopup-info
  %p.txtcenter.m-b-30
    Please select wall to continue
  = form_tag admin_event_polls_path, :method => 'get' do# "/admin/events/#{params[:event_id]}/polls", :method => 'get' do
    - if @event.polls.pluck(:wall_type).uniq.compact!.present?
      %i.arrow.single
      = select_tag :wall_type , options_for_select(@event.polls.pluck(:wall_type).uniq.compact!)
      = hidden_field_tag :type, "public_wall"
      .row.txtcenter.UserSubmit.m-t-40
        = submit_tag "Submit", :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--light-blue-600 disbtn"
    - else
      Please add some polls to wall first.