%html{:lang => "en"}
  %head
    %title Hobnob
    %meta{:charset => "utf-8"}
    %meta{'http-equiv'=>'refresh', :content => '60'}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %title Polls Wall
    = stylesheet_link_tag "theme.css"
    = stylesheet_link_tag "css/bootstrap_polls.min.css"
  %body.main-events{:role => "document",:class => "#{@event.event_name.present? and @event.event_name == "Karnival de Kochi".strip ? "poll-bg" : ""}"}
    .container.poll-container{:role => "main"}
      .col-xs-12.col-lg-12
        .row
          .col-lg-8.col-lg-offset-2
            .row
              .col-sm-12
                .row.heightpoll
                  .col-xs-4.col-sm-12.col-md-12.col-lg-12.pollHeading
                    - if @event.inside_logo.present? 
                      %img.logo.img-responsive.center-block{:src => "#{@event.inside_logo_url(:small)}"}
                  / .col-xs-8.col-sm-10.col-md-10.col-lg-10.pollHeading
                  /   %h3 Polls
                %hr
                  - @polls.each do |poll|
                    %p.poll-question 
                      %strong
                        = poll.question
                    - if poll.option1.present?
                      %p 
                        = poll.option1
                        - percentage = get_user_poll_percentage("option1",poll)
                      .progress
                        .pollwidth{:style => "width: 90%"}
                          .progress-bar.progress-bar-2{"aria-valuemax" => "", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: #{percentage}%"}
                        = "#{percentage}%"
                    - if poll.option2.present?
                      %p
                        = poll.option2
                        - percentage = get_user_poll_percentage("option2",poll)
                      .progress
                        .pollwidth{:style => "width: 90%"}
                          .progress-bar.progress-bar-1.progress-bar-striped.active{"aria-valuemax" => "", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: #{percentage}%"}
                        = "#{percentage}%"
                    - if poll.option3.present?
                      %p 
                        = poll.option3
                        - percentage = get_user_poll_percentage("option3",poll)
                      .progress
                        .pollwidth{:style => "width: 90%"}
                          .progress-bar.progress-bar-2{"aria-valuemax" => "", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: #{percentage}%"}
                        = "#{percentage}%"

                    - if poll.option4.present?
                      %p 
                        = poll.option4
                        - percentage = get_user_poll_percentage("option4",poll)
                      .progress
                        .pollwidth{:style => "width: 90%"}
                          .progress-bar.progress-bar-1.progress-bar-striped.active{"aria-valuemax" => "", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: #{percentage}%"}
                        = "#{percentage}%"
                    - if poll.option5.present?
                      %p 
                        = poll.option5
                        - percentage = get_user_poll_percentage("option5",poll)
                      .progress
                        .pollwidth{:style => "width: 90%"}
                          .progress-bar.progress-bar-1.progress-bar-striped.active{"aria-valuemax" => "", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: #{percentage}%"}
                        = "#{percentage}%"

                    = show_field("Total number of response: ", poll.user_polls.count) rescue nil
                  
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/docs.min.js"}
    / IE10 viewport hack for Surface/desktop Windows 8 bug
    %script{:src => "js/ie10-viewport-bug-workaround.js"}
    %script{:src => "js/base.min.js"}