.save_button.mdl-card.editBadgeForm.back-transparent  
  = form_for [:admin, @event, @qna_wall], :builder => CustomFormBuilder, :html => { :multipart => true } do |f|
    .mdl-grid.mdl-card.mdl-shadow--1dp
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          Logo
          %span.editThemelinks  
        = f.new_custom_file_browser_field "logo", "Qna Wall logo (1280x300px) png only", :id => "uploadBtn1", :value => (params[:action] == "create" and @qna_wall.present?) ? @qna_wall : @qna_wall.logo_file_name, :action => params[:action], :view_popup => {:image_path => "a.png", :rel=> "event_listing_logo", :title => "Event Listing Logo"}
    .mdl-grid.mdl-card.mdl-shadow--1dp.m-t-40
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          Title
      = render :partial => "admin/layouts/whats_this_popup", :locals => {:image_name => "thrmr_look_feel.jpg", :section_id => "theme_look_feel_section"}
      = f.custom_text_field :title, "Title", :value => @qna_wall.title, :class => 'pick-a-color', :view_popup => {:image_path => "a.png", :rel=> "background_color", :title => "Background Color"}, :admin_theme => "#{(@qna_wall.title.present?) ? "has-success" : ""}"
    .mdl-grid.mdl-card.mdl-shadow--1dp.m-t-40.p-b-35
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          Title Color
          %span.editThemelinks  
      %p.OrTxt
      = f.custom_text_field :title_color, "Title Color ", :value => @qna_wall.title_color, :class => 'pick-a-color', :view_popup => {:image_path => "a.png", :rel=> "background_color", :title => "Background Color"}, :admin_theme => "#{(@qna_wall.title_color.present?) ? "has-success" : ""}"
    / .mdl-grid.mdl-card.mdl-shadow--1dp.m-t-40.p-b-35
    /   .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
    /     %h4.heading-border.p-t-10
    /       Background Color
    /       %span.editThemelinks  
    /   %p.OrTxt
    /   = f.custom_text_field :bg_color, "Background Color *", :value => @qna_wall.bg_color, :class => 'pick-a-color', :view_popup => {:image_path => "look_and_feel/backgrounds/Help_Look&Feel_BackgroundColor.jpg", :rel=> "background_color", :title => "Background Color"}, :admin_theme => "#{(@qna_wall.bg_color.present?) ? "has-success" : ""}"
    .mdl-grid.mdl-card.mdl-shadow--1dp.m-t-40.p-b-35
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          Backgrounds
          %span.editThemelinks  
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.allcp-form.m-8.m-b-15
        .bs-component
          .form-group
            .span.col-lg-4
              = f.label "Background Image (900x1600px) png only ",:class =>"control-label", style: "float: right;"
            .col-lg-7.Closetheme
              %label.field.file
                %span.button.btn-primary
                  Choose File 
                = f.file_field :background_image,:id => "uploadBtn2", :class=>"gui-file"
                = text_field_tag("text_file_name","", id: "1uploadBtn2", class: "gui-input", :value => "#{f.object.background_image_file_name.nil? ? "there is no Attachment Available !" : f.object.background_image_file_name}", :read_only => true)
            - if @event.present? and f.object.background_image_file_name.present? 
              .col-lg-1
                = link_to "?" ,"a.png", rel: "event_bg_image", title: "Event Background Image", :class =>'fancybox whatsImg'
                - if @event.theme.present? and @event.theme_id.present?
                  = link_to admin_event_theme_path(:event_id => @event.id, :id => @event.theme_id,:remove_image => true), :class => "themeclose positionclose", :method => "put",data: { confirm: 'Are you sure?' } do
                    %span
                      X

      %p.OrTxt.or-vertical-text
        or
      = f.custom_text_field :bg_color, "Background Color ", :value => @qna_wall.bg_color, :class => 'pick-a-color', :view_popup => {:image_path => "a.png", :rel=> "background_color", :title => "Background Color"}, :admin_theme => "#{(@qna_wall.bg_color.present?) ? "has-success" : ""}"  
    .mdl-grid.mdl-card.mdl-shadow--1dp.m-t-40.p-b-35
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          Font Color
          %span.editThemelinks  
      %p.OrTxt
      = f.custom_text_field :font_color, "Font Color ", :value => @qna_wall.font_color, :class => 'pick-a-color', :view_popup => {:image_path => "a.png", :rel=> "background_color", :title => "Background Color"}, :admin_theme => "#{(@qna_wall.font_color.present?) ? "has-success" : ""}"
    .mdl-grid.mdl-card.mdl-shadow--1dp.m-t-40.p-b-35
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          Tab Color
          %span.editThemelinks  
      %p.OrTxt
      = f.custom_text_field :tab_color, "Tab Color ", :value => @qna_wall.tab_color, :class => 'pick-a-color', :view_popup => {:image_path => "a.png", :rel=> "background_color", :title => "Background Color"}, :admin_theme => "#{(@qna_wall.tab_color.present?) ? "has-success" : ""}"
      = f.hidden_field :event_id,:value=>params[:event_id]                
      .fixed-activon-btn-new  
        = f.custom_submit_button "SAVE"
        - if current_user.has_role? :super_admin
          .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
            .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
              = back_button(:back)
        - elsif @event.present? and @event.mobile_application.id.present?
          .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
            .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
              = link_to admin_event_mobile_application_path(:event_id => @event.id, :id => @event.mobile_application.id) do
                %span.waves-effect.waves-light.btn
                  CANCEL
= javascript_include_tag "jquery-1.11.3.min", "pick-a-color-1.2.0.min", "tinycolor", "jquery.fancybox", "theme_color_pick"                   
 