.save_button.mdl-card
  = form_for [:admin, @event, @my_profile], :builder => CustomFormBuilder do |f|
    .mdl-grid.mdl-card.mdl-shadow--1dp.p-b-25
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          General Information
      - if params[:step] == 'two'
        .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
          .mdl-grid.p-v-5
            .col-lg-12.p-h-12
              .mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--1-col-phone 
                .col-lg-8.p-h-16
                  %span.top6.p-h-2.telehead Field Name 
                .col-lg-4.p-h-12.textright
                  %span.top6.p-h-5.telehead Visible to Invitees
        
        - display_name_hsh = @my_profile.get_column_names
        - @my_profile_attrs.each do |key, value|
          .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8.m-b-5.errorMess
            .mdl-grid.p-v-5.form-group.mobiappstype
              .col-lg-12.p-h-12
                .mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--1-col-phone.md-checkbox.m-v-8

                  .col-lg-8.p-h-12
                    %span.top6
                    =# 'Full name' if key == 'name_of_the_invitee'
                    = display_name_hsh[key]#.humanize.titleize if key != 'name_of_the_invitee'
                  .col-lg-3.p-h-12.chekboxtell
                    %label.help-tip{:for => "my_profile_accessible_column_#{key}_1"}
                      - er = f.object.errors.messages[:enabled_attr].join(',') rescue nil
                      - f.object.errors.messages[:enabled_attr].clear if f.object.errors.messages[:enabled_attr].present?
                      = check_box_tag "my_profile[enabled_attr][#{key}]", 'yes',((@my_profile_attrs[key].present? and @my_profile_attrs[key] == 'yes') ? "checked" : false), :id => "my_profile_accessible_column_#{key}_1"  
                      %span.checkbox
                      / - if hsh["option_1"].present? and hsh["option_2"].blank?
                      .field_with_errors
                        .span{:class => "errorMessage"}
                          = er
        = hidden_field_tag :step, (params[:step].present? ? params[:step] : 'second')
      - else
        = hidden_field_tag :step, (params[:step].present? ? params[:step] : 'first')
        = f.custom_text_field_my_profile :attr1, "Column Name1","background" => "false", :readonly => editable_field('attr1', @event)
        = f.custom_text_field_my_profile :attr2, "Column Name2","background" => "false", :readonly => editable_field('attr2', @event)
        = f.custom_text_field_my_profile :attr3, "Column Name3","background" => "false", :readonly => editable_field('attr3', @event)
        = f.custom_text_field_my_profile :attr4, "Column Name4","background" => "false", :readonly => editable_field('attr4', @event)
        = f.custom_text_field_my_profile :attr5, "Column Name5","background" => "false", :readonly => editable_field('attr5', @event)
    .fixed-activon-btn-new  
      = f.custom_submit_button "SAVE"
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
        .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
          = back_button(:back)
