-if @edm.template_type.present? and @edm.template_type == "default_template"
  .emailer_button{:style => "float:right;margin-right:28px;margin-top:15px;"}
    = link_to "BROADCAST", edit_admin_event_campaign_edm_path(@edm.campaign.event_id,@edm.campaign_id,@edm.id, :next => 'NEXT'),{:style => "background:#1cb1ba;color:#fff;padding:6px 8px;text-decoration:none;"}
    = link_to "EDIT", edit_admin_event_campaign_edm_path(@edm.campaign.event_id,@edm.campaign_id,@edm.id),{:style => "background:#1cb1ba;color:#fff;padding:6px 8px;text-decoration:none;"}
    = link_to "CANCEL", admin_event_campaign_edms_path(:event_id => @campaign.event_id, :campaign_id => @edm.campaign_id),{:style => "background:#4d4e4f;color:#fff;padding:6px 8px;text-decoration:none;"}
  = render :partial => '/user_mailer/default_template_header.html.haml', :locals => {:@edm => @edm}
-else @edm.template_type.present? and @edm.template_type == "custom_template"
  .emailer_button{:style => "float:right;margin-right:28px;margin-top:15px;"}
    = link_to "BROADCAST",edit_admin_event_campaign_edm_path(@edm.campaign.event_id,@edm.campaign_id,@edm.id, :next => 'NEXT'),{:style => "background:#1cb1ba;color:#fff;padding:6px 8px;text-decoration:none;"}
    = link_to "EDIT", edit_admin_event_campaign_edm_path(@edm.campaign.event_id,@edm.campaign_id,@edm.id),{:style => "background:#1cb1ba;color:#fff;padding:6px 8px;text-decoration:none;"}
    = link_to "CANCEL", admin_event_campaign_edms_path(:event_id => @campaign.event_id, :campaign_id => @edm.campaign_id),{:style => "background:#4d4e4f;color:#fff;padding:6px 8px;text-decoration:none;"}
  = render :partial => '/user_mailer/preview_custom_template', :locals => {:@edm => @edm}