= stylesheet_link_tag "css/edm_time"
.save_button.mdl-card.agendaheight
  = form_for [:admin, @event, @microsite] ,:html => {:class =>'form-horizontal.checkboxclass',:autocomplete => "off"}, :builder => CustomFormBuilder do |f|
    
    .mdl-grid.mdl-shadow--1dp.micrositeTemplateForm
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8.error_space
        %h4.heading-border.p-t-10
          General Information
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8.error_space
        .mdl-grid.p-v-5.m-b-10.m-t-10
          .col-lg-4.mdl-typography--text-right
            %p.displayInlineBlock.multicitytxt Template Type *
          .col-lg-7.p-h-12   
            = f.custom_radio_button_menu :template_type, "default_template","Default Template", :id => "default_template_for_edm", :default_checked => (f.object.template_type == 'default_template' or f.object.template_type.blank?) ? 'checked' : ''
            = f.custom_radio_button_menu :template_type, "custom_template","Custom Template", :id => "custom_template_for_edm", :default_checked => (f.object.template_type == 'custom_template') ? 'checked' : ''
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8.error_space
        .mdl-grid.p-v-5.m-b-10.m-t-10
          %label.col-lg-4.control-label.ml-color--shades-white
            Select template
            / %br
            / %a{:href => '/whats_this/edm/template1.jpg', :class =>'fancybox', :rel=> "edm_view_template", :title => "Template"}
            /   (View Available Templates)
          .col-lg-7  
            %i.arrow.single
            = f.select("microsite", "default_template", [['Template 1'], ['Template 2']], {:selected => f.object.default_template,:prompt => 'Select template Type'},{:class=> 'select2-single form-control',:id=> "edm_templ_select"})
            .field_with_errors
              .span{:class => "errorMessage"}
                = f.object.errors.messages[:default_template].join("") rescue nil
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8.error_space
        .mdl-grid.p-v-5.m-b-10.m-t-10
          %label.col-lg-4.control-label.ml-color--shades-white
            Select Font
            %br
          .col-lg-7  
            %i.arrow.single
            = f.select("microsite_font", "default_template", [['Arial, Helvetica, sans-serif'], ['Roboto'], ['Ubuntu']], {:selected => f.object.default_template,:prompt => 'Select template Type'},{:class=> 'select2-single form-control',:id=> "edm_font_select"})
            / .field_with_errors
            /   .span{:class => "errorMessage"}
            /     = f.object.errors.messages[:default_template].join("") rescue nil
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.allcp-form.m-8.error_space
        .bs-component
          .form-group
            .span.col-lg-4
              = f.label "Header Image (600x100px) jpg/png only",:class =>"control-label", style: "float: right;"
            .col-lg-7
              %label.field.file
                %span.button.btn-primary
                  Choose File 
                = f.file_field :header_image,:id => "header_image_uploadBtn", :class=>"gui-file"
                = text_field_tag("text_file_name","", id: "1header_image_uploadBtn", class: "gui-input", :value => "#{f.object.header_image_file_name.nil? ? "there is no Attachment Available !" : f.object.header_image_file_name}", :read_only => true)
            .span.col-lg-1
              = link_to("?" ,"/whats_this/app_info/master_screens/AppInfo_LoginScreenBackgroundddd.png", rel: "", title: "Header Image", :class =>"fancybox whatsImg")
      %p.orText#hide_or OR
      .headerColor
        = f.custom_text_field :header_color, "Header Color", :value => @microsite.header_color, :class => 'pick-a-color custome_hide',"background" => "false"

      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.allcp-form.m-8.error_space
        .bs-component
          .form-group
            .span.col-lg-4
              = f.label "Banner Image (850x320px) jpg/png only",:class =>"control-label", style: "float: right;"
            .col-lg-7
              %label.field.file
                %span.button.btn-primary
                  Choose File 
                = f.file_field :banner_image,:id => "banner_image_uploadBtn", :class=>"gui-file"
                = text_field_tag("text_file_name","", id: "1banner_image_uploadBtn", class: "gui-input", :value => "#{f.object.banner_image_file_name.nil? ? "there is no Attachment Available !" : f.object.banner_image_file_name}", :read_only => true)
            .span.col-lg-1
              = link_to("?" ,"/whats_this/app_info/master_screens/AppInfo_LoginScreenBackgroundddd.png", rel: "", title: "Banner Image", :class =>"fancybox whatsImg")

      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.allcp-form.m-8.error_space
        .bs-component
          .form-group
            .span.col-lg-4
              = f.label "Logo Image (140x50px) jpg/png only",:class =>"control-label", style: "float: right;"
            .col-lg-7
              %label.field.file
                %span.button.btn-primary
                  Choose File 
                = f.file_field :logo_image,:id => "logo_image_uploadBtn", :class=>"gui-file"
                = text_field_tag("text_file_name","", id: "1logo_image_uploadBtn", class: "gui-input", :value => "#{f.object.logo_image_file_name.nil? ? "there is no Attachment Available !" : f.object.logo_image_file_name}", :read_only => true)
            .span.col-lg-1
              = link_to("?" ,"/whats_this/app_info/master_screens/AppInfo_LoginScreenBackgroundddd.png", rel: "", title: "Logo Image", :class =>"fancybox whatsImg")
              
      .edm_ckeditor
        / .ckeditor_custom.ckeditor_custome_hide
        .ckeditor_custom
          = f.label "Body text"
          = f.cktext_area :body
      
      = f.custom_text_field :footer_color, "Footer Color", :value => @microsite.footer_color, :class => 'pick-a-color custome_hide',"background" => "false"
      = f.custom_text_field :website_name, "Website Name", :value => @microsite.website_name
      = f.custom_text_field :subject_line, "Title","background" => "false" 
      
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-l-8.m-r-8.without_social_icons.error_space_h57.m-t-15
        .mdl-grid.p-v-10
          .col-lg-4.mdl-typography--text-right
            %p.displayInlineBlock.multicitytxt Template without social icons
          .col-lg-7.p-h-12   
            = f.custom_radio_button_menu :need_social_icon, "yes","Yes", :id => "need_social_icon_yes_for_edm", :default_checked => (f.object.need_social_icon == 'yes' or f.object.need_social_icon.blank?) ? 'checked' : ''
            = f.custom_radio_button_menu :need_social_icon, "no","No", :id => "need_social_icon_no_for_edm", :default_checked => (f.object.need_social_icon == 'no') ? 'checked' : ''
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8.m-b-5.errorMess.md-checkboxsocialcheck.socialIconChkbox
        .form-group.mobiappstype
          .col-lg-4.mdl-typography--text-right
            %p.displayInlineBlock.multicitytxt
              Social Icons
          .col-lg-7.p-h-12.socialchk
            .mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--1-col-phone.md-checkbox.m-v-8.chkbox_input_div
              %label.help-tip{:for => "edm_1"}
                = check_box_tag "microsite[social_icons][]","facebook",(f.object.social_icons.present? and f.object.social_icons.include?("facebook") ? "checked" : false), :id => "edm_1"
                %span.checkbox
                %span.top3
                  Facebook
              = f.custom_text_field_for_edm_social_icon :facebook_link, "URL", "edm_1", "background" => "false"
            .mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--1-col-phone.md-checkbox.m-v-8.chkbox_input_div
              %label.help-tip{:for => "edm_2"}
                = check_box_tag "microsite[social_icons][]","google_plus",(f.object.social_icons.present? and f.object.social_icons.include?("google_plus") ? "checked" : false), :id => "edm_2"
                %span.checkbox
                %span.top3
                  Google +
              = f.custom_text_field_for_edm_social_icon :google_plus_link, "URL", "edm_2","background" => "false"
            .mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--1-col-phone.md-checkbox.m-v-8.chkbox_input_div
              %label.help-tip{:for => "edm_3"}
                = check_box_tag "microsite[social_icons][]","linked_in",(f.object.social_icons.present? and f.object.social_icons.include?("linked_in") ? "checked" : false), :id => "edm_3" 
                %span.checkbox
                %span.top3
                  LinkedIn
              = f.custom_text_field_for_edm_social_icon :linkedin_link, "URL", "edm_3", "background" => "false"
            .mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--1-col-phone.md-checkbox.m-v-8.chkbox_input_div
              %label.help-tip{:for => "edm_4"}
                = check_box_tag "microsite[social_icons][]","twitter",(f.object.social_icons.present? and f.object.social_icons.include?("twitter") ? "checked" : false), :id => "edm_4" 
                %span.checkbox
                %span.top3
                  Twitter
              = f.custom_text_field_for_edm_social_icon :twitter_link, "URL", "edm_4", "background" => "false"
      / .edm_ckeditor
      /   .ckeditor_custom{:style => "display: #{(f.object.template_type == 'custom_template') ? "" : "none"}"}
      /     = f.label "Custom Template *"
      /     = f.cktext_area :custom_code
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-l-8.m-r-8.without_social_icons.error_space_h57.m-t-15
        .mdl-grid.p-v-10
          .col-lg-4.mdl-typography--text-right
            %p.displayInlineBlock.multicitytxt Do you need a registration form
          .col-lg-7.p-h-12   
            = f.custom_radio_button_menu :need_registration_form, "yes","Yes", :id => "need_registration_form_yes_for_edm", :default_checked => (f.object.need_registration_form == 'yes' or f.object.need_registration_form.blank?) ? 'checked' : ''
            = f.custom_radio_button_menu :need_registration_form, "no","No", :id => "need_registration_form_no_for_edm", :default_checked => (f.object.need_registration_form == 'no') ? 'checked' : ''
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8.m-b-5.errorMess.md-checkboxregistrationcheck.socialIconChkbox
        .form-group.mobiappstype.newMicrositeFieldDiv
          .mdl-grid
            = f.custom_text_field :field1, "Field 1 *","background" => "false"
            / %br
            /   %a{:href => '#', :class =>'fancybox', :title => "Required"}
            /     (View Available Templates)
          .mdl-grid
            = f.custom_text_field :field2, "Field 2","background" => "false"
          .mdl-grid
            = f.custom_text_field :field3, "Field 3","background" => "false"
          .mdl-grid
            = f.custom_text_field :field4, "Field 4","background" => "false"
          .mdl-grid
            = f.custom_text_field :field5, "Field 5","background" => "false"
    = f.hidden_field :set_custom_template, :value => "", :class => "custom_template_set"
    = f.hidden_field :fields_validation, :value => "", :class => "field1_validation"
    .fixed-activon-btn-new  
      = f.custom_submit_button "SAVE"
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
        .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
          = link_to admin_event_microsites_path(:event_is => @event.id),:class => "waves-effect waves-light btn" do
            Cancel

= javascript_include_tag "edm_header_footer_color_display_hash"
= javascript_include_tag "pick-a-color-1.2.0.min", "tinycolor", "jquery.fancybox", "theme_color_pick"
- if @microsite.template_type.present? and @microsite.template_type == "custom_template"
  :javascript
    $(document).ready(function(){
      $("#header_image_uploadBtn").parent().parent().parent().parent().parent().hide();
      $("#banner_image_uploadBtn").parent().parent().parent().parent().parent().hide();
      $("#footer_image_uploadBtn").parent().parent().parent().parent().hide();
      $("#edm_templ_select").parent().parent().parent().hide();
      $("#edm_font_select").parent().parent().parent().hide();
      $(".without_social_icons").hide();
      $(".md-checkboxsocialcheck").hide();
      $(".custome_hide").parent().parent().parent().parent().hide();
      $(".ckeditor_custome_hide").hide();
    })

/ - if @microsite.microsite_broadcast_value.present? and @microsite.microsite_broadcast_value == "scheduled"
/   :javascript
/     $("#date-start").parent().parent().parent().parent().show();
- if @microsite.need_social_icon.present? and @microsite.need_social_icon == "no"
  :javascript
    $(".md-checkboxsocialcheck").hide();
- if @microsite.need_registration_form.present? and @microsite.need_registration_form == "no"
  :javascript
    $(".md-checkboxregistrationcheck").hide();
- if @microsite.social_icons.present?
  :javascript
    checked = document.getElementById("edm_1").checked;
    if (checked == true){
      $("div#edm_check_edm_1").css('display','inline-block');
      $("div#edm_check_edm_1").show();    
    }
    checked = document.getElementById("edm_2").checked;
    if (checked == true){
      $("div#edm_check_edm_2").css('display','inline-block');
      $("div#edm_check_edm_2").show();    
      }
    checked = document.getElementById("edm_3").checked;
    if (checked == true){
        $("div#edm_check_edm_3").css('display','inline-block');
      $("div#edm_check_edm_3").show();     
      }
    checked = document.getElementById("edm_4").checked;
    if (checked == true){
        $("div#edm_check_edm_4").css('display','inline-block');
      $("div#edm_check_edm_4").show();     
      }
- if @microsite.social_icons.present?
  :javascript
    checked = document.getElementById("register_1").checked;
    if (checked == true){
      $("div#edm_check_edm_1").css('display','inline-block');
      $("div#edm_check_edm_1").show();    
    }

:javascript
  $('#custom_template_for_edm').click(function() {
    $('.custom_template_set').val('false')
  })
  $('#default_template_for_edm').click(function() {
    $('.custom_template_set').val('true')
  })
  $('.custom_template_set').val('true')

  $('#need_registration_form_yes_for_edm').click(function() {
    $('.field1_validation').val('true')
  })
  $('#need_registration_form_no_for_edm').click(function() {
    $('.field1_validation').val('false')
  })
  $('.field1_validation').val('true')