- if params[:import].present?
  = render :partial => 'admin/imports/form', :locals => {:@event => @event}
- else
  .save_button.mdl-card
    = form_for [:admin, @event, @qna], :html => {:class =>'form-horizontal'}, :builder => CustomFormBuilder do |f|
      .mdl-grid.mdl-card.pollInfo.mdl-shadow--1dp
        .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
          %h4.heading-border.p-t-10.m-b-15
            General Information
        = f.custom_text_field :sender_email, "Email *","background" => "false"
        - if params[:event_id].present?  
          .mdl-cell--12-col.mdl-cell--12-col-tablet.m-8
            .form-group
              %label.col-lg-4.control-label.ml-color--shades-white
                Select Panel
              .col-lg-7
                %i.arrow.single
                = f.select("qna", "receiver_id", @panels.collect{|p| [ p.name, p.id ]} , {:selected => "#{@qna.receiver_id}"}, {include_blank: 'None',:class=> 'select2-single form-control',:onclick =>"answers();"})
        =# render :partial => "admin/layouts/whats_this_popup", :locals => {:image_name => "qna_generalInfo.jpg", :section_id => "qna_general_section"}
        = f.custom_text_field :question, "Question *","background" => "false"
        =# f.custom_text_field :answer, "Answer *"
      .fixed-activon-btn-new  
        = f.custom_submit_button "SAVE"
        .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
          .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
            = back_button(:back)