.save_button.mdl-card.agendaheight  
  = form_for [:admin, @event, @contact], :builder => CustomFormBuilder do |f|
    .mdl-grid.mdl-shadow--1dp.p-b-35
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          General Information
          / %a{:href =>'/whats_this/contact_us/general_information/contact_generalInfo.jpg', :class =>'helpTag testhelp fancybox'}
          /   what's this?
      = #render :partial => "admin/layouts/whats_this_popup", :locals => {:image_name => "contact_generalInfo.jpg", :section_id => "contact_general_section"}
      = f.custom_text_area_field :introduction, "Introductory line", "background" => "false"
      = f.custom_text_field :name, "Name","background" => "false"
      = f.custom_text_field :email, "Email Id *","background" => "false"
      = f.custom_text_field :mobile, "Mobile","background" => "false"
      = hidden_field_tag "type","#{params[:type]}" if params[:type].present?
    .fixed-activon-btn-new  
      = f.custom_submit_button "SAVE"
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
        .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
          = back_button(:back)