.save_button
  = form_for [:admin, @event, @event_feature], :builder => CustomFormBuilder do |f|
    .mdl-grid.mdl-card.mdl-shadow--1dp.agendaHeight
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.m-b-30.p-t-10
          - if params[:feature] == "my_calender"
            General Information
          - else
            Application Features
          / %a{:href => 'javascript:void(0);', :class =>'helpTag testhelp'}
          /   what's this?
        - if @event.present? and @event.event_features.pluck(:name).exclude? 'event_highlights' and @event.login_at == 'After Highlight' 
          .field_with_errors
            .span{:class => "errorMessage"}
              = 'Kindly active Event Highlights feature to set login at After highlights'
      - if params[:feature] == "my_calender"
        .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
          .mdl-grid.p-v-5
            .col-lg-4.mdl-typography--text-right
              %p.displayInlineBlock.multicitytxt Allow users to add agenda to calender
            = hidden_field_tag :calender, :value => 'yes'
            = f.hidden_field :name, :value => 'my_calendar'
            = f.hidden_field :page_title, :value => 'My Calendar'
            = f.hidden_field :status, :value => 'deactive'
            = f.hidden_field :menu_visibilty, :value => 'deactive'
            = hidden_field_tag :feature, "my_calender"
            .col-lg-7.p-h-12
              = f.custom_radio_button_menu :menu_icon_visibility, "Yes","yes", :id => "option-1",:default_checked => "#{@event.get_event_feature_status == "yes" ? "checked" : "" }"
              = f.custom_radio_button_menu :menu_icon_visibility, "No", "no", :id => "option-2",:default_checked => "#{@event.get_event_feature_status == "no" ? "checked" : "" }"
              - if @feature_error.present?
                .field_with_errors
                  .span{:class => "errorMessage"}
                    = @feature_error rescue nil
      -else
        = render :partial => "admin/layouts/whats_this_popup", :locals => {:image_name => "event_feature_generalInfo.jpg", :section_id => "event_feature_general_section"} 
        - hash_of_feature_list = {"abouts" => "About", "agendas" => "Agenda", "speakers" => "Speakers", "faqs" => "FAQ", "galleries" => "Gallery", "feedbacks" => "Feedback", "e_kits" => "e-KIT", "conversations" => "Conversations", "polls" => "Polls", "awards" => "Awards", "invitees" => "Invitees", "qnas" => "Q&A" , "notes" => "Notes", "contacts" => "Contact Us", "venue" => "Venue", "event_highlights" => "Event Highlights", "highlight_images" => "Highlight Images","sponsors" => "Sponsors", "my_profile" => "My Profile", "qr_code" => "QR Code Scanner", "quizzes" => "Quiz", "favourites" => "My Favourites", "networks" => "My Network","exhibitors" => "Exhibitors", 'leaderboard' => 'Leaderboard', "custom_page1s" => "Custom Page 1", "custom_page2s" => "Custom Page 2", "custom_page3s" => "Custom Page 3", "custom_page4s" => "Custom Page 4", "custom_page5s" => "Custom Page 5", "chats" => "One on One Chat","my_travels" => "My Travel","social_sharings" => "Social Sharing", "activity_feeds" => "Activity Feed"} 
        = hidden_field_tag :multiple_create, true
        - @default_features.each do |event_feature|
          .mdl-cell--4-col.mdl-cell--2-col-tablet.mdl-cell--1-col-phone.md-checkbox.m-v-8
            %label.help-tip{:for => "event_user_ids_#{event_feature}"}
              = check_box_tag "event[features][]", event_feature, @present_feature.include?("#{event_feature}"), :class => "", :id => "event_user_ids_#{event_feature}"
              %span.checkbox 
              = hash_of_feature_list[event_feature]
              %a{:href => '/whats_this/template/fpo.jpg', :class=>"fancybox"} ?

    .fixed-activon-btn-new  
      = f.custom_submit_button "SAVE"
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
        .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
          = back_button(:back)
    - if false
      .mdl-grid.mdl-card.mdl-shadow--1dp.m-t-40.coomingsoonCard
        .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
          %h4.heading-border.m-b-30.p-t-10
            Coming Soon
            / %a{:href => 'javascript:void(0);', :class =>'helpTag testhelp'}
            /   what's this?
          - hash_of_feature_list = {"mycalendar" => "My Calendar", "chat" => "Chat", "travel" => "Travel", "travel" => "Travel", "exhibitionguide" => "Exhibition Guide"} 
          - @static_features.each do |event_feature|
            .mdl-cell--4-col.mdl-cell--2-col-tablet.mdl-cell--1-col-phone.md-checkbox.m-v-8
              %label{:for => "event_user_ids_#{event_feature}"}
                = check_box_tag "event[features][]", event_feature, @present_feature.include?("#{event_feature}"), :class => "", :id => "event_user_ids_#{event_feature}"
                %span.checkbox 
                = hash_of_feature_list[event_feature]