.overlayBg
  / %img{:src => "/assets/loader.gif", :class =>"loader-img"}/
  .spinner
    .rect1
    .rect2
    .rect3
    .rect4
    .rect5
- if !objs.present? and !params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt.p-t-10
    = render :partial => 'admin/layouts/index_no_data_message', :locals => {:title => "invitees", :url => "/admin/events/#{params[:event_id]}/invitees/new", :msg => 'test'}
-elsif !objs.present? and params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt.p-t-10
    = get_search_data("invitees")
- else  
  %table.table.mdl-data-table.fullwidth.ml-table-striped.ml-table-bordered{"template-pagination" => "custom/pager"}
    %tr
      %th Invitee Name 
      %th Email id
      %th Company Name 
      %th Designation
      %th Status
      %th Visible Status
      %th
        - objs.each do |invitee|
          %tr
            %td.font16= show_link(params, invitee.id, invitee.name_of_the_invitee) rescue nil
            %td.font16= invitee.email rescue nil
            %td.font16= invitee.company_name.capitalize rescue nil
            %td.font16= invitee.designation.capitalize rescue nil
            %td.font16= invitee.invitee_status.capitalize rescue nil
            %td.font16= invitee.visible_status.capitalize rescue nil
            %td.IconDrp
              = more_vert_button(invitee.id)
              %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{invitee.id}"}
                = edit_link(params, invitee.id)
                = delete_link(params, invitee.id)
                = send_mail_to_invitee(params,invitee.id)
                - invitee.aasm.events.each do |eve|
                  = link_to "#{eve.name.to_s.titlecase}".html_safe,{:action=>"update", :controller=>"admin/invitees", :id => invitee.id, :visible_status => eve.name.to_s, :page => params[:page]}, :method => "put", :data => { confirm: 'Are you sure, you want to change the status.'},:class => "mdl-menu__item"
  = will_paginate objs 
              
:javascript
  $(".send-password-btn").click(function(){
    $(".overlayBg").show();
    $(".fixed-activon-btn-new.morefixed-activon-btn").css({"pointer-events":"none","opacity":"0.5"});
  });
  $(".send-password-confirm").click(function(){
    if(confirm('Are you sure you want to send passwords to all new invitees?')) {
      var url1 = window.location.href
      var url = url1.split('?').shift();
      window.location.href = url + '?send_mail=true'
      $(".overlayBg").show();
      $(".fixed-activon-btn-new.morefixed-activon-btn").css({"pointer-events":"none","opacity":"0.5"});
    }
    else {
      $(".overlayBg").hide();
    }
  })
  