$('#result').html("<table><tr><td>Email:</td><td><%= @invitee.email %></td></tr><tr><td>First name:</td><td><%= @invitee.first_name %></td></tr><tr><td>Last name:</td><td><%= @invitee.last_name %></td></tr><tr><td>Company Name:</td><td><%= @invitee.company_name %></td></tr><tr><td>Designation:</td><td><%= @invitee.designation %></td></tr><tr><td>Mobile No:</td><td><%= @invitee.mobile_no %></td></tr></table>");   
$('#btnPrint').show();
