.save_button
  = form_for [:admin, @event, @registration],:html => {:class =>'form-horizontal'}, :builder => CustomFormBuilder do |f|
    -if params[:change_code].present?
      .mdl-grid.mdl-card.pollInfo.mdl-shadow--1dp
        .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
          %h4.heading-border.p-t-10.m-b-15
            Registration   
        //= f.custom_text_area_field1 :custom_css, "Custom CSS", :value => f.object[:custom_css].present? ? f.object[:custom_css] : "", :display => "true"
        //= f.custom_text_area_field1 :custom_js, "Custom JS", :value => f.object[:custom_js].present? ? f.object[:custom_js] : "", :display => "true"
        / = f.custom_text_area_field1 :custom_source_code, "Custom Source Code", :value => f.object[:custom_source_code].present? ? f.object.custom_source_code : "", :display => "true"
        .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8.textareaFeid
          .bs-component
            .form-group
              .col-lg-4.control-label
                Custom source code
              .col-lg-8
                .bs-component
                  = f.text_area :custom_source_code, :value => f.object[:custom_source_code].present? ? f.object.custom_source_code : "", :class => "form-control textarea-grow",:rows => "24", :cols=>"100"
        = f.hidden_field_tag :change_code,"true"
        .fixed-activon-btn-new 
          = f.custom_submit_button "SAVE"
          .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
            .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
              = back_button(:back)
          - if !f.object.new_record?
            .mdl-button.mdl-js-button.mdl-button--raised.mdl-color--light-blue-600.mdl-js-ripple-effect.btnsubmit.fleft.editsetting
              .mdl-cell--12-col.mdl-cell--12-col-tablet
                = link_to "Preview",new_admin_event_user_registration_path(:event_id => @event.id),:target => "_blank"
    - else
      - default_fields = ["field1","field2","field3","field4","field5","field6","field7","field8","field9","field10","field11","field12","field13","field14","field15","field16","field17","field18","field19","field20"]
      - count = 0
      - default_fields.each do |default_field|
        .m-t-40.mdl-grid.mdl-card.pollInfo.mdl-shadow--1dp
          .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
            %h4.heading-border.p-t-10.m-b-15
              = "Registration Field #{count + 1}"
          - count += 1 
          = f.fields_for default_field do |field|
            - if !(f.object.new_record?)
              = field.custom_text_field :label, "Question #{count <= 1 ? '*' : ''}", :value => @registration.attributes[default_field][:label].present? ? @registration.attributes[default_field][:label] : "", :field_name => default_field, :route => Rails.application.routes.recognize_path(request.original_url),"background" => "false"
              .mdl-cell--12-col.mdl-cell--12-col-tablet.m-8.errorm-t-14
                .form-group
                  %label.col-lg-4.control-label  
                  .col-lg-7.field_with_errors
                    .span{:class => "errorMessage"}
                      = f.object.errors.messages[:label].join("") rescue nil if count <= 1
            - else
              = field.custom_text_field :label, "Question #{count <= 1 ? '*' : ''}",:value => f.object.attributes[default_field].present? ? f.object.attributes[default_field][:label] : ""
              .mdl-cell--12-col.mdl-cell--12-col-tablet.m-8.errorm-t-14
                .form-group
                  %label.col-lg-4.control-label  
                  .col-lg-7.field_with_errors
                    .span{:class => "errorMessage"}
                      = f.object.errors.messages[:label].join("") rescue nil if count <= 1
            .mdl-cell--12-col.mdl-cell--12-col-tablet.m-8
              .form-group
                %label.col-lg-4.control-label.ml-color--shades-white
                  ="#{count <= 1 ? 'Answer Type *' : 'Answer Type'}"
                .col-lg-7
                  %i.arrow.single
                  = field.select("registration[#{default_field}]", "option_type", [["Radio Buttons","Radio Button"], ["Check Boxes","Check Box"], ["Drop-down list","Drop-Down list"], ["Text box - single line","Text Box"], ["Text box - multiple lines","Text Area"], ["Date Picker","Date Picker"]], {:selected => (f.object.attributes[default_field].present? and f.object.attributes[default_field][:option_type].present?) ? f.object.attributes[default_field][:option_type] : "",:prompt => 'Select type'}, { include_blank: true,:class=> 'show_hide select2-single form-control', check_field: "#{default_field}_for_text_area"})
                  .field_with_errors
                    .span{:class => "errorMessage"}
                      = f.object.errors.messages[:option_type].join("") rescue nil if count <= 1
            .mdl-cell--12-col.mdl-cell--12-col-tablet.m-8
              .form-group.text_area_form_group{:class => "#{default_field}_for_text_area",:style => (@registration.attributes[default_field].present? and (@registration.attributes[default_field]["validation_type"].present? or f.object.errors.keys.include?(:"#{default_field}[validation_type]").present?)) ? '' : 'display:none;'}
                %label.col-lg-4.control-label.ml-color--shades-white
                  ="#{count <= 1 ? 'Validation Type *' : 'Validation Type'}"
                .col-lg-7
                  %i.arrow.single
                  = field.select("registration[#{default_field}]", "validation_type", [["Email address","Email Validation"], ["Numeric only","Numeric only"]], {:selected => (f.object.attributes[default_field].present? and f.object.attributes[default_field][:validation_type].present?) ?  f.object.attributes[default_field][:validation_type] : "",:prompt => 'Validation Type'}, { include_blank: true,:class=> 'select2-single form-control'})
                  .field_with_errors
                    .span{:class => "errorMessage"}
                      = f.object.errors.messages[:"#{default_field}[validation_type]"].join("") rescue nil if count <= 1
            .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-b-10
              .mdl-grid.p-v-5
                .col-lg-4.mdl-typography--text-right
                  %p.displayInlineBlock.multicitytxt Mandatory
                .col-lg-3.p-h-12.m-8
                  = field.custom_radio_button_menu :mandatory_field, "yes","Yes", :id => "option-1_#{field.object_name}",:default_checked => (@registration.attributes[default_field].present? and @registration.attributes[default_field]["mandatory_field"] == "yes") ? 'checked' : ''
                  = field.custom_radio_button_menu :mandatory_field, "no", "No", :id => "option-2_#{field.object_name}",:default_checked => (@registration.attributes[default_field].present? and @registration.attributes[default_field]["mandatory_field"] == "no") ? 'checked' : ''
            - if false #!(f.object.new_record?)
              = field.custom_text_area_field1 :option_1, "Option 1 #{count <= 1 ? '*' : ''}", :value => f.object.attributes[default_field][:option_1].present? ? f.object.attributes[default_field][:option_1] : "", :field_name => default_field, :display => "#{(@registration.attributes[default_field][:option_type].present? and ["Check Box","Radio Button","Drop-Down list"].include? @registration.attributes[default_field][:option_type]) ? "true" : "none"}"
              .mdl-cell--12-col.mdl-cell--12-col-tablet.m-8.errorm-t-14
                .form-group
                  %label.col-lg-4.control-label  
                  .col-lg-7.field_with_errors
                    .span{:class => "errorMessage"}
                      = f.object.errors.messages[:"#{default_field}[option_1]"].join("") rescue nil if count <= 1
              = field.custom_text_area_field1 :option_2, "Option 2 #{count <= 1 ? '*' : ''}", :value => @registration.attributes[default_field][:option_2], :field_name => default_field, :display => "#{(@registration.attributes[default_field][:option_type].present? and ["Check Box","Radio Button","Drop-Down list"].include? @registration.attributes[default_field][:option_type]) ? "true" : "none"}"
              .mdl-cell--12-col.mdl-cell--12-col-tablet.m-8.errorm-t-14
                .form-group
                  %label.col-lg-4.control-label  
                  .col-lg-7.field_with_errors
                    .span{:class => "errorMessage"}
                      = f.object.errors.messages[:"#{default_field}[option_2]"].join("") rescue nil if count <= 1
              = field.custom_text_area_field1 :option_3, "Option 3", :value => @registration.attributes[default_field][:option_3], :field_name => default_field, :display => "#{(@registration.attributes[default_field][:option_type].present? and ["Check Box","Radio Button","Drop-Down list"].include? @registration.attributes[default_field][:option_type]) ? "true" : "none"}"
              = field.custom_text_area_field1 :option_4, "Option 4", :value => @registration.attributes[default_field][:option_4], :field_name => default_field, :display => "#{(@registration.attributes[default_field][:option_type].present? and ["Check Box","Radio Button","Drop-Down list"].include? @registration.attributes[default_field][:option_type]) ? "true" : "none"}"
            - else
              = field.custom_text_area_field1 :option_1, "Option 1 #{count <= 1 ? '*' : ''}", :value => f.object.attributes[default_field].present? ? f.object.attributes[default_field][:option_1] : "", :display => "true", klass: (['new','create', 'edit', 'update'].include?(params[:action]) or f.object.errors.keys.include?(:"#{default_field}[option_1]").present?) ? "options_form_tag_for_new #{default_field}_for_text_area" : ''
              .mdl-cell--12-col.mdl-cell--12-col-tablet.m-8.errorm-t-14
                .form-group
                  %label.col-lg-4.control-label  
                  .col-lg-7.field_with_errors
                    .span{:class => "errorMessage"}
                      = f.object.errors.messages[:"#{default_field}[option_1]"].join("") rescue nil if count <= 1
              = field.custom_text_area_field1 :option_2, "Option 2 #{count <= 1 ? '*' : ''}", :value => f.object.attributes[default_field].present? ? f.object.attributes[default_field][:option_2] : "", :display => "true", klass: ['new','create', 'edit', 'update'].include?(params[:action]) ? "options_form_tag_for_new #{default_field}_for_text_area" : ''
              .mdl-cell--12-col.mdl-cell--12-col-tablet.m-8.errorm-t-14
                .form-group
                  %label.col-lg-4.control-label  
                  .col-lg-7.field_with_errors
                    .span{:class => "errorMessage"}
                      = f.object.errors.messages[:"#{default_field}[option_2]"].join("") rescue nil if count <= 1
              = field.custom_text_area_field1 :option_3, "Option 3", :value => f.object.attributes[default_field].present? ? f.object.attributes[default_field][:option_3] : "", :display => "true", klass: ['new','create', 'edit', 'update'].include?(params[:action]) ? "options_form_tag_for_new #{default_field}_for_text_area" : ''
              = field.custom_text_area_field1 :option_4, "Option 4", :value => f.object.attributes[default_field].present? ? f.object.attributes[default_field][:option_4] : "", :display => "true", klass: ['new','create', 'edit', 'update'].include?(params[:action]) ? "options_form_tag_for_new #{default_field}_for_text_area" : ''
            .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8.textboxrequired{:class => "#{default_field}_for_text_area",:style => (@registration.attributes[default_field].present? and @registration.attributes[default_field]["text_box_required_after_options"].present?) ? '' : 'display:none;'}
              .mdl-grid.p-v-5
                .col-lg-4.mdl-typography--text-right
                  %p.displayInlineBlock.multicitytxt  
                  = "#{count <= 1 ? 'Text box required after options? *' : 'Text box required after options?'}"
                .col-lg-3.p-h-12
                  = field.custom_radio_button_menu :text_box_required_after_options, "yes","Yes", :id => "option_1_#{field.object_name}",:default_checked => (@registration.attributes[default_field].present? and @registration.attributes[default_field]["text_box_required_after_options"] == "yes") ? 'checked' : ''
                  = field.custom_radio_button_menu :text_box_required_after_options, "no", "No", :id => "option_2_#{field.object_name}",:default_checked => (@registration.attributes[default_field].present? and @registration.attributes[default_field]["text_box_required_after_options"] == "no") ? 'checked' : ''
                  .field_with_errors
                    .span{:class => "errorMessage"}
                      = f.object.errors.messages[:"#{default_field}[text_box_required_after_options]"].join("") rescue nil if count <= 1
      .fixed-activon-btn-new 
        = f.custom_submit_button "SAVE"
        .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
          .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
            = back_button(:back)
        - if @event.registration_settings.present?
          .mdl-button.mdl-js-button.mdl-button--raised.mdl-color--light-blue-600.mdl-js-ripple-effect.btnsubmit.fleft.editsetting
            .mdl-cell--12-col.mdl-cell--12-col-tablet
              = link_to "Edit Setting",edit_admin_event_registration_setting_path(:event_id => @event.id, :id => @event.registration_settings.last.id)
        - if @event.registration_settings.present? and !f.object.new_record?
          .mdl-button.mdl-js-button.mdl-button--raised.mdl-color--light-blue-600.mdl-js-ripple-effect.btnsubmit.fleft.editsetting.m-l-18
            .mdl-cell--12-col.mdl-cell--12-col-tablet
              = link_to "QR Scanner", admin_event_qr_code_scanners_path(:event_id => @event.id), :target => '_blank'

:javascript
  var selected_option_text_field = ["Check Box","Radio Button","Drop-Down list"], check_field;
  $(document).on('ready', function(){
    $('select.show_hide').each(function(){
      check_field = $(this).attr('check_field');
      value = $('select.show_hide[check_field='+ check_field +'] option:selected').val();
      console.log(value);
      if(value !== undefined && selected_option_text_field.indexOf(value) > -1){
        show_text_field_on_select(check_field);
      }else{
        hide_text_field_on_select(check_field);
      }
      form_field_group(value, check_field);
    })
  });

  $(".show_hide").change(function(){
    value = $(this).val();
    check_field = $(this).attr('check_field');
    if(value == "Check Box" || value == "Radio Button" || value == "Drop-Down list"){
      show_text_field_on_select(check_field);
    }else{
      hide_text_field_on_select(check_field);
     }

    value = $(this).val();
    form_field_group(value, check_field);
  });
 
  function show_text_field_on_select(check_field){
    $('.options_form_tag_for_new.'+check_field).show();
    $('.textboxrequired.'+check_field).show();
  }

  function hide_text_field_on_select(check_field){
    console.log(check_field);
    $('.options_form_tag_for_new.'+check_field).hide();
    $('.textboxrequired.'+check_field).hide();
  }

  function form_field_group(value, check_field){
    if(value == "Text Box" || value == "Text Area"){
      // $(this).parent().parent().parent().next().show();
      $('.text_area_form_group.'+check_field).show();
    }else{
      // $(this).parent().parent().parent().next().hide();
      $('.text_area_form_group.'+check_field).hide();
     }
  }