!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Feed
    %meta{:charset => "utf-8"}/
    %meta{:content => " ", :name => "keywords"}/
    %meta{:content => " ", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    //   %link{:href => "/assets/css/activity_feed.css", :rel => "stylesheet", :type => "text/css"}/
    //   %link{:href => "/assets/css/fonts.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "activity_feed.css", "fonts.css"
  - if @background_image.present?
    %body{:style=>"background-image: url(#{@background_image});background-size:cover;background-repeat: no-repeat; background-attachment:fixed;"} 
      - if session['invitee_id'].present?
        .container
          .wrapper
            %h1
            %ul.tabs
              - if session['invitee_id']
                %li.tab-link.current{"data-tab" => "tab1"} My Feed
              %li.tab-link{"data-tab" => "tab2"} Social
            - if session['invitee_id']
              #tab1.tab-content.current
                = render :partial =>"activity_feed", :locals => {:analytics => @analytics}
              #tab2.tab-content
                - if false
                  = render :partial =>"activity_feed", :locals => {:analytics => @event_analytics}
            #productsList
            = link_to '', store_url_for(params.merge(:page => params[:page].to_i + 1)), :class => 'load-more-posts colorFFF', :remote => true, :id => "load-more-posts"   
      -else 
        %h1.noData No Data Available
  -elsif @background_color.present?
    %body{:style => "background:##{@background_color};"}
      - if session['invitee_id'].present?
        .container
          .wrapper
            %h1
            %ul.tabs
              - if session['invitee_id']
                %li.tab-link.current{"data-tab" => "tab1"} My Feed
              %li.tab-link{"data-tab" => "tab2"} Social
            - if session['invitee_id']
              #tab1.tab-content.current
                = render :partial =>"activity_feed", :locals => {:analytics => @analytics}
                #analytics
            - if false
              #tab2.tab-content.current
                = render :partial =>"activity_feed", :locals => {:analytics => @event_analytics}
                #eventAnalytics
            = link_to '', store_url_for(params.merge(:page => params[:page].to_i + 1)), :class => 'load-more-posts colorFFF', :remote => true, :id => "load-more-posts"            
      -else
        %h1.noData No Data Available
:javascript
  $(document).ready(function(){
    $('.tabs li').click(function(){
      var tab_id = $(this).attr('data-tab');
      $('.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');
      $(this).addClass('current');
      $('#'+ tab_id).addClass('current');
    });
  });
