%title Hobnob
= stylesheet_link_tag "print_invoice", :media => 'screen, print'
- @event_feature_names = @event.event_features.pluck(:name)
#print
  .mdl-layout__content.mdl-color--grey-100.page.ng-scope.detailedAnaytics
    #content.table-layout
      .allcp-panels.clear.smallCard.ui-sortable.animated.fadeIn
        .row
          %p
            = link_to "Print", "#", :id => 'prnt', :class =>"printBtn", :onclick => "printpage()"
          %span.imgcenter
            = image_tag(@event.inside_logo_url(:small))
          %h3.m-l-10{:style => "font-weight: 100"}
            = @event.event_name
        .row.box
          
          
          .panel
            
            .panel-heading.ui-sortable-handle
              %span.panel-title
                Analytics
            .panel-body.panel-body-datials
              %table.table
                %tbody
                  - @detailed_analytics_counts[0].each do |feature|
                    =# render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/#{MobileApplication::CARD_IMAGES[feature[0]]}", :page_title => feature[0], :feature_count => feature[1]}
                    %tr
                      %td
                        %span.mr10.TopspeakerImg
                          = image_tag("coloured_icons/#{MobileApplication::CARD_IMAGES[feature[0]]}")
                        = feature[0]
                      %td
                        = feature[1]
          - [{'top_pages' => 'Top Page Views', 'top_fav_agendas' => 'Top Favorited Sessions', 'top_rated_agendas' => 'Top Rated Sessions', 'top_rated_speakers' => 'Top Rated Speakers', 'top_fav_speakers' => 'Top Favorited Speakers', 'top_question_speakers' => 'Speakers with most nbr. of Questions', 'top_commented_conversations' => 'Top Commented Conversations', 'top_liked_conversations' => 'Top Liked Conversations'}, {'top_viewed_ekits' => 'Top Documents Viewed', 'top_answered_quizzes' => 'Top Answered Quizzes', 'top_answered_polls' => 'Top Polls', 'top_fav_invitees' => 'Top Favorited Invitees', 'top_fav_sponsors' => 'Top Favorited Sponsors', 'top_viewed_sponsors' => 'Top Viewed Sponsors', 'top_fav_exhibitors' => 'Top Favorited Exhibitors', 'top_viewed_exhibitors' => 'Top Viewed Exhibitors', 'top_fav_leaderboard' => 'Top 10 Leaders'}].each_with_index do |analytic_features, index|
            - index = index + 2
            / .col-md-6
            - analytic_features.each_with_index do |feature, index2|
              - index2 = index2 + 3
              =# render :partial => 'top_action_list_view', :locals => {:index => (index * index2), :feature => feature}

              - if @detailed_analytics_counts[1][feature[0]].present?
                - feature_array = feature[0] != 'top_pages' ? @detailed_analytics_counts[1][feature[0]] : @detailed_analytics_counts[1][feature[0]][1]
              
                .panel
                  .panel-heading.ui-sortable-handle
                    %span.panel-title
                      = feature[1]
                  .panel-body.scroller-sm.heightAuto
                    %table.table
                      %tbody
                        - feature_array.each do |feature_arr|
                          - obj = get_analytic_details(feature[0], feature_arr[0]) if feature[0] != 'top_pages'
                          - if (obj.present? and obj[0].present?) or (feature[0] == 'top_pages' and @event_feature_names.include? Analytic::VIEWABLE_TYPE_TO_FEATURE[feature_arr[0]])
                            %tr
                              %td
                                - if feature[0] == 'top_pages'
                                  - if @event_feature_names.include? Analytic::VIEWABLE_TYPE_TO_FEATURE[feature_arr[0]]
                                    %span.va-t.mr10.TopspeakerImg
                                      = image_tag("coloured_icons/#{MobileApplication::CARD_IMAGES[feature_arr[0].pluralize.downcase]}")
                                - elsif obj[0].class.name == 'Invitee'
                                  %span.va-t.mr10.TopspeakerImg
                                    - if obj[0].profile_pic.present?
                                      = image_tag(obj[0].profile_pic.url(:thumb))
                                    - else
                                      = image_tag('/profile_pics/thumb/missing.png')
                                - elsif obj[0].class.name == 'Speaker'
                                  %span.va-t.mr10.TopspeakerImg
                                    - if obj[0].profile_pic.present?
                                      = image_tag(obj[0].profile_pic.url(:thumb))
                                    - else
                                      = image_tag('/profile_pics/thumb/missing.png')
                                = obj[0].attributes[obj[1]].truncate(80) rescue '' if feature[0] != 'top_pages'
                                = feature_arr[0] if feature[0] == 'top_pages' and @event_feature_names.include? Analytic::VIEWABLE_TYPE_TO_FEATURE[feature_arr[0]]
                              %td
                                = feature_arr[1].round(1) if feature[0] == 'top_rated_speakers'
                                - if feature[0] != 'top_rated_speakers' and feature[0] != 'top_pages'
                                  = feature_arr[1] if feature[0] != 'top_rated_speakers'
                                - elsif feature[0] != 'top_rated_speakers' and feature[0] == 'top_pages' and @event_feature_names.include? Analytic::VIEWABLE_TYPE_TO_FEATURE[feature_arr[0]]
                                  = feature_arr[1]
:javascript
  function printpage() {
    //Get the print button and put it into a variable
    var printButton = document.getElementById("prnt");
    //Set the print button visibility to 'hidden' 
    printButton.style.visibility = 'hidden';
    //Print the page content
    window.print()
    //Set the print button to 'visible' again 
    //[Delete this line if you want it to stay hidden after printing]
    printButton.style.visibility = 'visible';
  }