= stylesheet_link_tag "scanner", :media => 'screen, print'
=# link_to "Print", "#", :id => 'prnt', :class =>"printBtn", :onclick => "printpage()" if @event.present?  and params[:qr_code_preview].blank?# and [368, 165, 168].include? @event.id
%title Disha
%body.qr-scanner-page#print
  - if @event.present? and params[:qr_code_preview].blank? #[368, 165, 168].include? @event.id
    .container.printPage
      .title
        %img{:src => @event.logo.url}
      .description
        %p.welcomeText 
          = @invitee.name_of_the_invitee rescue nil
        %p.subText
          = "#{@event.start_event_date.strftime('%d %b')} - #{@event.end_event_date.strftime('%d %b %Y')}"
        %p.subText.place
          = @event.cities rescue nil
    = link_to "Print", "#", :id => 'prnt', :class =>"printBtn", :onclick => "printpage()" if @event.present? and params[:qr_code_preview].blank? #[368, 165, 168].include? @event.id
  - else
    .container
      .title
        - if @invitee.present?
          %img{:src => @invitee.qr_code.url} 
      .description
        %p{:style => 'font-size:34px;margin:0px'} 
          = @invitee.name_of_the_invitee rescue nil
   
          
  :javascript
    function printpage() {
      var printButton = document.getElementById("prnt");
      printButton.style.visibility = 'hidden';
      window.print()
      printButton.style.visibility = 'visible';
      window.close();
      window.onunload = refreshParent;
    }
    function refreshParent() {
      window.opener.location.href = "#{SAPP_URL}/admin/events/#{@event.id}/qr_code_scanners?qr_code_preview=#{params[:qr_code_preview]}"
    }
