= stylesheet_link_tag "scanner", :media => 'screen, print'
= link_to "Print", "#", :id => 'prnt', :class =>"printBtn", :onclick => "printpage()" if @event.present? and [368, 165, 168].include? @event.id
%title Disha
%body.qr-scanner-page#print
  - if @event.present? and [368, 165, 168].include? @event.id
    .container.printPage
      .title
        %img{:src => @event.logo.url}
      .description
        %p.welcomeText 
          = @invitee.name_of_the_invitee rescue nil
        %p.subText
          = "#{@event.start_event_date.strftime('%d %b')} - #{@event.end_event_date.strftime('%d %b %Y')}"
        %p.subText.place
          = @event.cities rescue nil
  - else
    .container.barcodePage
      .barcode.title
        - if @invitee.present?
          %img{:src => @invitee.qr_code.url}
      .description
        %p{:style => 'margin:0px'} 
          = @invitee.name_of_the_invitee rescue nil
  :javascript
    function printpage() {
      //Get the print button and put it into a variable
      var printButton = document.getElementById("prnt");
      //Set the print button visibility to 'hidden' 
      printButton.style.visibility = 'hidden';
      //Print the page content
      window.print()
      //Set the print button to 'visible' again 
      //[Delete this line if you want it to stay hidden after printing]
      printButton.style.visibility = 'visible';
    }

