- if params[:page] == 'print_preview'
  = render :partial => "/admin/qr_code_scanners/badge_pdf"
- else
  %body.qr-scanner-page
  - if params[:page] == 'manual_search'
    - if true
      .container
        .wrapper.submitWrapper
          .textDiv
            = form_tag(admin_event_qr_code_scanners_path(:event_id => @event.id), method: :get) do |f|
              = hidden_field_tag :page, params[:page].present? ? params[:page] : 'manual_search'
              = hidden_field_tag :search, 'manual'
              = text_field_tag :email, params[:email], placeholder: 'Enter your email or name', :class => 'inputType'
              %input.submitBtn{:type => "submit", :value => "submit"}/
          - if @invitees.present?
            .tableDiv{:style => "overflow-x:auto;"}
              %table
                %thead
                  %tr
                    %th Id
                    %th Name
                    %th Company Name
                    %th Designation
                    %th Email
                %tbody
                  - @invitees.each do |invitee|
                    %tr
                      %td
                        = invitee.id
                      %td
                        %a{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :invitee_id => invitee.id, :page => 'print_preview'), :target => '_blank'}
                          = invitee.name_of_the_invitee
                      %td
                        = invitee.company_name
                      %td
                        = invitee.designation
                      %td
                        %a{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :invitee_id => invitee.id, :page => 'print_preview'), :target => '_blank'}
                          = invitee.email
          - elsif @invitees.blank? and params[:search] == 'manual'
            %p.bottomText Can't find yourself? Please contact the helpdesk for more assistance. Thank you.
  - elsif params[:page] == 'thank_you'
    .container
      .wrapper.thankYouWrapper
        .thankyou-text
          %p.thanktest 
            = "Thank you for visiting #{@event.event_name}"
        .tableDiv{:style => "overflow-x:auto;"}
          - if @invitee.present?
            %table
              %thead
                %tr
                  %th Id
                  %th Name
                  %th Company Name
                  %th Designation
                  %th Email
              %tbody
                %tr
                  %td
                    = @invitee.id
                  %td
                    %a{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :invitee_id => @invitee.id, :page => 'print_preview'), :target => '_blank'}
                      = @invitee.name_of_the_invitee
                  %td
                    = @invitee.company_name
                  %td
                    = @invitee.designation
                  %td
                    %a{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :invitee_id => @invitee.id, :page => 'print_preview'), :target => '_blank'}
                      = @invitee.email
            .btnDiv
              - if @invitee.present?
                %a.linkBtn{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :invitee_id => @invitee.id, :page => 'print_preview'), :target => '_blank'} Preview Badge
              %a.linkBtn{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :page => 'manual_search'), :target => '_blank'} Search Manually 
              %a.linkBtn{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :page => 'scanning')} New Scan

          - else
            %p.subText
              = "We are sorry, we couldn’t verify your QR code."
            .btnDiv
              %a.linkBtn{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :page => 'manual_search'), :target => '_blank'} Search Manually 
              - if @invitee.present?
                %a.linkBtn{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :invitee_id => @invitee.id, :page => 'print_preview'), :target => '_blank'} Preview Badge
              %a.linkBtn{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :page => 'scanning')} New Scan
  - elsif params[:page] == 'scanning'
    #main
      #header
        %div{:style => "position:relative;top:+20px;left:0px;"}
          %g:plusone{:size => "medium"}
        %ul
      #mainbody
        %table.tsel{:border => "0", :width => "100%"}
          %tr.camera
            %td{:align => "center", :valign => "top"}
              %table.tsel{:border => "0"}
                %tr
                  %td{:align => "center", :colspan => "2"}
                    #outdiv
          %tr
            %td{:align => "center", :colspan => "3"}
          %tr
            %td{:align => "center", :colspan => "3"}
              #result
              %a{:id => 'btnPrint', :style => 'float:center;display:none', :href => 'javascript:void(0)'} Print
      .btnDiv.searchManuallyBtn
        %a.linkBtn{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :page => 'manual_search'), :target => '_blank'} Search Manually 
      / #footer
      /   %br
      /     %h5{:align => "center"}
      /       Copyright &copy; 2016
      /       %a{:href => "http://www.hobnobspace.com", :target => "_blank"} Hobnobspace
    %canvas#qr-canvas{:height => "600", :width => "800"}
    :javascript
      load();
      var APP_URL = "#{SAPP_URL}"
      var EVENT_ID = "#{@event.id}"
      $("#btnPrint").on("click", function () {
        var divContents = $("#result").html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>Invitee Profile</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
      });

  - else
    .container
      .title     
      .description
        %p.welcomeText 
          = "Welcome to #{@event.event_name}."
        %p.subText Please scan your QR Code from the My Profile feature in the App to continue.
      .scanbtn
        %a.linkBtn{:href => admin_event_qr_code_scanners_path(:event_id => @event.id, :page => 'scanning')} Scan