- page = (params[:controller].split("/").second).singularize
- case page
  - when 'client'
    - if current_user.has_role? :licensee_admin
      = link_to new_admin_client_path, :class => "rightBtn hvr-sweep-to-right" do
        New Client
  - when 'event'
    - if current_user.has_role? :licensee_admin or current_user.has_role? :client_admin
      - if params[:feature] == "mobile_application" and params[:mobile_application_id].present?
        - url = new_admin_client_event_path(:client_id => @client.id, :mobile_application_id => params[:mobile_application_id]) 
      - else   
        - url = new_admin_client_event_path(:client_id => @client.id)
      - if !(current_user.has_role? :moderator)
        = link_to url,:class => "rightBtn hvr-sweep-to-right" do
          New Event
  - when 'event_group'
    - if current_user.has_role? :licensee_admin or current_user.has_role? :client_admin
      = link_to new_admin_client_event_group_path(:client_id => @client.id, :type => "general"),:class => "rightBtn hvr-sweep-to-right" do
        New Event Group
  - when 'about'
    - if current_user.has_role? :licensee_admin or current_user.has_role? :client_admin
      =link_to new_admin_event_about_path(:event_id => @event.id),:class=>"rightBtn hvr-sweep-to-right" do
        New About 
  - when 'event_highlight'
    - if current_user.has_role? :licensee_admin or current_user.has_role? :client_admin
      =link_to new_admin_event_event_highlight_path(:event_id => @event.id),:class=>"rightBtn hvr-sweep-to-right" do
        New Highlight 
  - when 'mobile_application'
    - if !(current_user.has_any_role? :moderator, :db_manager)
      = link_to admin_client_events_path(:client_id => @client.id, :feature => 'mobile_applications'), :class => "rightBtn hvr-sweep-to-right" do
        New Mobile Application 
  - when 'invitee_structure'
    - if @event.invitee_structures.present?
      = link_to edit_admin_event_invitee_structure_path(:event_id => @event.id, :id => @invitee_structure.id), :class => "rightBtn hvr-sweep-to-right" do
        Edit Database
      = link_to new_admin_event_grouping_path(:event_id => @event.id), :class => "rightBtn hvr-sweep-to-right" do
        Create Grouping
    - else
      = link_to new_admin_event_invitee_structure_path(:event_id => @event.id), :class => "rightBtn hvr-sweep-to-right" do
        New Database
  - when 'theme'
    = link_to new_admin_theme_path ,:class => "rightBtn hvr-sweep-to-right" do
      New Theme
  - when 'speaker'
    - if @event.present? and (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role])) #!(current_user.has_role? :db_manager)
      = link_to new_admin_event_speaker_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Speaker
  - when 'invitee_group'
    - if @event.present? and (current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role]))#(current_user.has_role? :db_manager)
      = link_to new_admin_event_invitee_group_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Invitee Group
    - if @event.present? and (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role]))#!(current_user.has_role? :db_manager)
      = link_to new_admin_event_notification_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Notification
  - when 'attendee'
    = link_to new_admin_event_attendee_path(:event_id => @event.id) ,:class => " rightBtn hvr-sweep-to-right" do
      New Attendee
  - when 'agenda'
    - if @event.present? and (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role]))#!(current_user.has_role? :db_manager)
      = link_to new_admin_event_agenda_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Session
      = link_to new_admin_event_event_feature_path(:event_id => @event.id, :feature => "my_calender"),:class => "rightBtn hvr-sweep-to-right" do
        Calendar Settings  
  - when 'course'
    - if @event.present? and (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role]))#!(current_user.has_role? :db_manager)
      = link_to new_admin_event_course_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Course
      = link_to admin_event_course_providers_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        Course Providers
  - when 'course_provider'
    - if @event.present? and (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role]))#!(current_user.has_role? :db_manager)
      = link_to new_admin_event_course_provider_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Course Provider
  - when 'invitee'
    = link_to new_admin_event_invitee_path(:event_id => @event.id) ,:class => "rightBtn hvr-sweep-to-right" do
      New Invitee
    = link_to new_admin_event_manage_invitee_field_path(:event_id => @event.id) ,:class => "rightBtn hvr-sweep-to-right" do
      Manage Invitee Fields
    = link_to 'javascript:void(0);' ,:class => "rightBtn hvr-sweep-to-right send-password-confirm" do
      Send Password To All
  - when 'user'
    = link_to 'javascript:void(0);',:class => "rightBtn hvr-sweep-to-right", :id => 'add_user_popup' do
      New User
    = render :partial => '/admin/users/add_user_with_role', :locals => {:page_id => 'add_user_popup'}
  - when 'licensee'
    = link_to new_admin_licensee_path ,:class => "rightBtn hvr-sweep-to-right" do
      New Licensee
  - when 'conversation'
    - if @event.conversation_auto_approve == "true" and (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role]))#(!current_user.has_role? :db_manager)
      = link_to admin_event_conversations_path(:event_id => @event.id, :auto_approve => "false", :feature => "Conversation"),:class => "rightBtn hvr-sweep-to-right" do
        Disable Auto Approve
    -elsif @event.conversation_auto_approve == "false" and (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role])) #(!current_user.has_role? :db_manager)
      = link_to admin_event_conversations_path(:event_id => @event.id, :auto_approve => "true", :feature => "Conversation"),:class => "rightBtn hvr-sweep-to-right" do
        Enable Auto Approve
  - when 'telecaller'
    - if @event.invitee_structures.present?
      = link_to new_admin_event_telecaller_accessible_column_path(:event_id => params[:event_id]) ,:class => "rightBtn hvr-sweep-to-right" do
        Telecaller Access Column
  - when 'my_travel'
    = link_to new_admin_event_my_travel_path(:event_id => params[:event_id]) ,:class => "rightBtn hvr-sweep-to-right" do
      New My Travel

    / = link_to admin_event_manage_feature_status_index_path(:event_id => @event.id, :status => "approved", :feature => "Conversation"),:class => "rightBtn hvr-sweep-to-right" do
    /   Approve All
    / = link_to admin_event_manage_feature_status_index_path(:event_id => @event.id, :status => "rejected", :feature => "Conversation"),:class => "rightBtn hvr-sweep-to-right" do
    /   Reject All

  - when 'faq'
    = link_to new_admin_event_faq_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
      New FAQ
  - when 'feedback' 
    - if (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role])) #!(current_user.has_role? :db_manager)
      / = link_to new_admin_event_feedback_form_feedback_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
      - if  params[:feedback_form_id].present?
        = link_to new_admin_event_feedback_path(:event_id => @event.id,:feedback_form_id=>params[:feedback_form_id]),:class => "rightBtn hvr-sweep-to-right" do      
          New Question
        = link_to admin_event_feedback_forms_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do      
          Back to Feedback form         
      - else 
        = link_to new_admin_event_feedback_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do      
          New Question
        = link_to admin_event_feedback_forms_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do      
          Back to Feedback form          
  - when 'feedback_form'
    = link_to new_admin_event_feedback_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
      New Feedback Form
  - when 'image'   
    - if @event.present?
      = link_to  new_admin_event_image_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Image 
  - when 'highlight_image'
    - if @event.present?
      = link_to  new_admin_event_highlight_image_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Highlight Image        
  - when 'poll'
    - if (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role])) #!(current_user.has_role? :db_manager)
      = link_to new_admin_event_poll_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Question
  - when 'sponsor'
    = link_to new_admin_event_sponsor_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
      New Sponsor
  - when 'award'
    = link_to new_admin_event_award_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
      New Award

  - when 'emergency_exit'
    - if @event.emergency_exit.nil?
      = link_to new_admin_event_emergency_exit_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Emergency Exit

  - when 'winner'
    = link_to new_admin_event_award_winner_path(:event_id => @event.id,:award_id => @award.id),:class => "rightBtn hvr-sweep-to-right" do
      New Winner
  - when 'e_kit'
    - if @event.present?
      = link_to new_admin_event_e_kit_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New e-KIT 
  - when 'contact'
    - if @event.present? 
      = link_to new_admin_event_contact_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Contact Us              
  - when 'notification'
    - if @event.present?
      -if (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role])) #!(current_user.has_role? :db_manager)
        = link_to new_admin_event_notification_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
          New Notification
      - if (!current_user.has_role_for_event?("moderator", @event.id,session[:current_user_role]))
        = link_to admin_event_invitee_groups_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
          Invitee Groups 
  - when 'qna'
    - if !(current_user.has_any_role? :moderator, :db_manager)
      = link_to admin_event_panels_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        Manage Panel
    - if (current_user.has_role? :moderator)
      = link_to new_admin_event_qna_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        Add Question
    - if @event.qna_auto_approve == "true" and (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role])) #(!current_user.has_role? :db_manager)
      = link_to admin_event_qnas_path(:event_id => @event.id, :auto_approve => "false", :feature => "QNA"),:class => "rightBtn hvr-sweep-to-right" do
        Disable Auto Approve
    -elsif @event.qna_auto_approve == "false" and (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role])) #(!current_user.has_role? :db_manager)
      = link_to admin_event_qnas_path(:event_id => @event.id, :auto_approve => "true", :feature => "QNA"),:class => "rightBtn hvr-sweep-to-right" do
        Enable Auto Approve
  - when 'panel'
    - if @event.present?
      = link_to new_admin_event_panel_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Panel
  - when 'grouping'
    = link_to new_admin_event_grouping_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
      New Grouping
  - when 'quiz'
    -if (!current_user.has_role_for_event?("db_manager", @event.id,session[:current_user_role])) #!(current_user.has_role? :db_manager)
      = link_to new_admin_event_quiz_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Quiz    
  - when 'registration'
    - if @event.present? and @event.registrations.count == 0
      = link_to new_admin_event_registration_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        New Registration
    - else
      = link_to edit_admin_event_registration_path(:event_id => @event.id, :id =>@event.registrations.first.id),:class => "rightBtn hvr-sweep-to-right" do
        New Registration
  - when 'exhibitor'
    = link_to new_admin_event_exhibitor_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
      New Exhibitor
  - when 'registration_setting'
    - if @event.present? and @registration_settings.present? and @registration_settings.first.registration == 'hobnob'
      = link_to admin_event_user_registrations_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
        Registered Users
  - when 'campaign'
    = link_to new_admin_event_campaign_path(:event_id => @event.id),:class => "rightBtn hvr-sweep-to-right" do
      New Campaign
  - when 'edm'
    = link_to new_admin_event_campaign_edm_path(:event_id => @event.id,:campaign_id => @campaign.id),:class => "rightBtn hvr-sweep-to-right" do
      New eDM