= stylesheet_link_tag 'c3'
= javascript_include_tag 'jquery-ui.min-dash', 'highcharts', 'd3.min', 'c3.min', 'circles', 'jquery.jvectormap.min', 'jquery-jvectormap-us-lcc-en', 'utility', 'demo-dash', 'main', 'dash-widgets', 'dash-widgets_sidebar', 'dashboard'
%main.mdl-layout__content.mdl-color--grey-100.page.ng-scope
  %section#content_wrapper
    / -------------- Topbar Menu Wrapper --------------
    - if false
      #topbar-dropmenu-wrapper
        .topbar-menu.row
          .col-xs-4.col-sm-2
            %a.service-box.bg-danger{:href => "#"}
              %span.fa.fa-music
              %span.service-title Audio
          .col-xs-4.col-sm-2
            %a.service-box.bg-success{:href => "#"}
              %span.fa.fa-picture-o
              %span.service-title Images
          .col-xs-4.col-sm-2
            %a.service-box.bg-primary{:href => "#"}
              %span.fa.fa-video-camera
              %span.service-title Videos
          .col-xs-4.col-sm-2
            %a.service-box.bg-alert{:href => "#"}
              %span.fa.fa-envelope
              %span.service-title Messages
          .col-xs-4.col-sm-2
            %a.service-box.bg-system{:href => "#"}
              %span.fa.fa-cog
              %span.service-title Settings
          .col-xs-4.col-sm-2
            %a.service-box.bg-dark{:href => "#"}
              %span.fa.fa-user
              %span.service-title Users
      / -------------- /Topbar Menu Wrapper --------------
      / -------------- Topbar --------------
    = render :partial => "breadcumb_links",:locals => {:name => params[:controller]}
    / %header#topbar.alt
    /   .topbar-left
    /     %ol.breadcrumb
    /       %li.breadcrumb-icon
    /         %a{:href => "dashboard1.html"}
    /           %span.fa.fa-home
    /       %li.breadcrumb-active
    /         %a{:href => "dashboard1.html"} Dashboard
    /       %li.breadcrumb-link
    /         %a{:href => "index.html"} Home
    /       %li.breadcrumb-current-item Dashboard
    / .topbar-right
    /   .ib.topbar-dropdown
    /     %label.control-label{:for => "topbar-multiple"} Reporting Period
    /     %select#topbar-multiple.hidden
    /       %optgroup{:label => "Filter By:"}
    /         %option{:value => "1-1"} Last 30 Days
    /         %option{:selected => "selected", :value => "1-2"} Last 60 Days
    /         %option{:value => "1-3"} Last Year
    /   #sidebar_right_toggle.ml15.ib.va-m
    /     .navbar-btn.btn-group.btn-group-number.mv0
    /       %button.btn.btn-sm.btn-default.btn-bordered.prn.pln
    /         %i.fa.fa-bar-chart.fs22.text-default
    / -------------- /Topbar --------------
    / -------------- Content --------------
    - if !current_user.has_role? :telecaller
      %section#content.table-layout.animated.fadeIn
        / -------------- Column Center --------------
        .chute.chute-center
          / -------------- Quick Links --------------
          / - @clients = Client.with_role(current_user.roles.pluck(:name), current_user)
          - client_ids = @clients.pluck('clients.id')
          - client_ids += Event.with_roles(current_user.roles.pluck(:name), current_user).pluck(:client_id)
          - @events = Event.where(:client_id => client_ids)
          - if current_user.has_role? :event_admin
            - ids = @count.pluck(:mobile_application_id).compact.uniq rescue []
            - @mobile_applications = MobileApplication.where(:id => ids)
          - else
            - @mobile_applications = MobileApplication.where(:client_id => client_ids)
          - event_ids = @events.pluck(:id)
          - @registrations = Registration.where(:event_id => event_ids)
          - if current_user.has_role? :event_admin
            - @users = User.get_managed_user(current_user,client_ids,@count.pluck(:id)) rescue []
          - else   
            - @users = User.get_managed_user(current_user,client_ids,event_ids) rescue []
          .row.DashPage.eventShowCard
            - if !(current_user.has_role? :super_admin)  
              .col-sm-3.col-xl-3
                .panel.panel-tile
                  .panel-body
                    .row.pv5
                      .col-xs-5.ph10
                        = image_tag("coloured_icons/client.png")
                      .col-xs-7.pl5
                        - if @clients.count('clients.id') == 0
                          %h6.text-muted Clients
                          %h2.fs30.mt5.mbn
                            = '0'
                            =# link_to 'Add one now', new_admin_client_path
                        - else
                          %h6.text-muted Clients
                          %h2.fs30.mt5.mbn
                            = link_to @clients.count('clients.id'), admin_clients_path
                    .row.pv5.AddmoreCard{:style => "margin-bottom : #{check_curent_user_role("client") ? "0px" : "23px"}" }
                      .col-xs-12.ph5
                        - if check_curent_user_role("client")
                          %a{:href => "/admin/clients/new", :class => "displayBlock"}
                            = 'Add One' if @clients.count('clients.id') <= 0
                            = 'New Client' if @clients.count('clients.id') > 0
              .col-sm-3.col-xl-3
                .panel.panel-tile
                  .panel-body
                    .row.pv5
                      .col-xs-5.ph10
                        = image_tag("coloured_icons/event.png")
                      .col-xs-7.pl5
                        - if @events.length == 0
                          %h6.text-muted Events
                          %h2.fs30.mt5.mbn
                            = '0'
                            - if false
                              - if @clients.count('clients.id') == 0
                                - url = new_admin_client_path
                              - else
                                - url = dashboard_to_page_redirect_url(@clients.count('clients.id'), "events")
                              = link_to 'Add one now', url
                        - else
                          %h6.text-muted Events
                          %h2.fs30.mt5.mbn
                            - if current_user.has_role? :moderator
                              - length = @count.pluck(:id).compact.uniq.count rescue 0
                              = link_to length, admin_clients_path(:feature => 'users',:redirect_page => "index", :role => "moderator", :wall => true)
                            -else
                              - if current_user.has_role? :event_admin
                                - length = @count.pluck(:id).compact.uniq.count rescue 0
                                = link_to length, admin_clients_path(:feature => 'events')
                              - else  
                                = link_to @events.length, admin_clients_path(:feature => 'events')
                            =# @events.count
                    .row.pv5.AddmoreCard{:style => "margin-bottom : #{check_curent_user_role("event") ? "0px" : "23px"}" }
                      .col-xs-12.ph5
                        -if (current_user.has_role? :client_admin or current_user.has_role? :licensee_admin)
                          %a{:href => admin_clients_path(:feature => 'events', :redirect_page => "new"), :class => "displayBlock"}
                            = 'Add One' if @events.length <= 0
                            = 'New Event' if @events.length > 0


              - if !(current_user.has_role? :moderator)
                .col-sm-3.col-xl-3
                  .panel.panel-tile
                    .panel-body
                      .row.pv5
                        .col-xs-5.ph10
                          = image_tag("coloured_icons/mobile-app.png")
                        .col-xs-7.pl5
                          - if @mobile_applications.count == 0
                            %h6.text-muted Mobile Apps
                            %h2.fs30.mt5.mbn
                              = '0'
                              - if false
                                - if @clients.count('clients.id') == 0
                                  - url = new_admin_client_path
                                - else
                                  - url = dashboard_to_page_redirect_url(@clients.count('clients.id'), "mobile_application")
                                = link_to 'Add one now', url
                          - else
                            %h6.text-muted Mobile Apps
                            %h2.fs30.mt5.mbn
                              = link_to @mobile_applications.count, admin_clients_path(:feature => 'mobile_applications')
                              =# @events.count
                      .row.pv5.AddmoreCard{:style => "margin-bottom : #{check_curent_user_role("mobile_application") ? "0px" : "23px"}" }
                        .col-xs-12.ph5
                          -if check_curent_user_role("mobile_application") or current_user.has_role? :event_admin
                            %a{:href => admin_clients_path(:feature => 'mobile_applications', :redirect_page => "new"), :class => "displayBlock"}
                              = 'Add One' if @mobile_applications.count <= 0
                              = 'New Mobile App' if @mobile_applications.count > 0
                .col-sm-3.col-xl-3
                  .panel.panel-tile.manageusers
                    .panel-body
                      .row.pv5
                        .col-xs-5.ph10
                          = image_tag("coloured_icons/user_3.png")
                        .col-xs-7.pl5
                          - if @users.count == 0
                            %h6.text-muted Manage Users
                            %h2.fs30.mt5.mbn
                              = '0'
                          - else
                            %h6.text-muted Manage Users
                            %h2.fs30.mt5.mbn
                              = link_to @users.count, admin_clients_path(:feature => 'users',:redirect_page => 'index')
                              =# @events.count
                      .row.pv5.AddmoreCard
                        .col-xs-12.ph5
                          -if true#check_curent_user_role("mobile_application")
                            %a{:href => 'javascript:void(0);', :class => "displayBlock", :id => 'add_user_popup'}
                              = 'Add One' if @users.count <= 0
                              = 'New User' if @users.count > 0
                            = render :partial => '/admin/users/add_user_with_role', :locals => {:page_id => 'add_user_popup'}              

              .col-sm-3.col-xl-3
                .panel.panel-tile
                  .panel-body
                    .row.pv5
                      .col-xs-5.ph10
                        = image_tag("coloured_icons/analytics.png")
                      .col-xs-7.pl5
                        %h6.text-muted
                          = link_to 'Analytics', admin_clients_path(:feature => 'analytics')
                          
                    .row.pv5.AddmoreCard{:style => "margin-bottom : #{check_curent_user_role("mobile_application") ? "0px" : "23px"}" }
                      .col-xs-12.ph5
                        - if true#check_curent_user_role("mobile_application")
                          %a{:href => admin_clients_path(:feature => 'analytics'), :class => "displayBlock"}
                            = 'View Analytics'
              =# render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/analytics.png", :page_title => "Analytics", :feature_count => "" }


            / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/database.png", :page_title => "Database", :feature_count => "0" }

            / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/communication.png", :page_title => "Communication", :feature_count => "0" }
            
            / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/microsite.png", :page_title => "Microsite", :feature_count => "0" }
            
            / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/user_3.png", :page_title => "Registration", :feature_count => "0" }
            
            / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/travel.png", :page_title => "Travel", :feature_count => "0" }

            / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/housing.png", :page_title => "Housing", :feature_count => "0" }
            
            / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/user_3.png", :page_title => "Social Media", :feature_count => "0" }
            
            / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/user_3.png", :page_title => "Engagement", :feature_count => "0" }
            
            / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/feedback.png", :page_title => "Feedback", :feature_count => "0" }

            / = render :partial => 'admin/layouts/card_event', :locals => {:image_path => "coloured_icons/user_3.png", :page_title => "Leads", :feature_count => "0" }


                      
          - if (current_user.present? and !current_user.has_role? :super_admin)
            - if @clients.blank? or @mobile_applications.blank? or @events.blank?  
              - if @mobile_applications.blank? 
                - title = "Mobile App" 
                - description = ""
                - url = dashboard_to_page_redirect_url(@clients.count('clients.id'), "mobile_application")
              - if @events.blank? and check_curent_user_role("event")
                - title = "Event" 
                - description = ""
                - url = dashboard_to_page_redirect_url(@clients.count('clients.id'), "event")
              - if @clients.blank? and check_curent_user_role("client")
                - title = "Client"
                - description = ""
                - url = new_admin_client_path
              .row
                .CreateDashLayout
                  %h2
                    Create your first 
                    %span.AppName
                      = title + "."
                  %p
                    - if false
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, a galley of type and scrambled it to make a type specimen book.
                  .appBtn
                    %a{:href => url, :class => 'DashAddIcon mdl-color--light-blue-600'}
                      %i.material-icons
                        added
                      = "New #{title}"   
