.save_button.mdl-card
  = form_for [:admin, @event, @exhibitor], :builder => CustomFormBuilder do |f|
    .mdl-grid.mdl-card.mdl-shadow--1dp.p-b-25
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10.m-b-15
          General Information
      = f.custom_text_field :name, "name *","background" => "false"
      = f.new_custom_file_browser_field :image, "Logo (300x300px) (png/jpg) only*", :id => "uploadBtn", :value => f.object.image_file_name, :action => params[:action], "background" => "false"
      = f.custom_text_field :website_url, "Url","background" => "false"
      = f.custom_text_area_field :description,"description", "background" => "false"
    .fixed-activon-btn-new  
      = f.custom_submit_button "SAVE"
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
        .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
          = back_button(:back)
:javascript
  $(window).load(function(){
    $('.gui-file').change(function(){
      filename = $(this)[0].files[0].name;
      $(".gui-input").val(filename);
    });
  }) 