- if params[:import].present?
  = render :partial => 'admin/imports/form', :locals => {:@event => @event}
- else
  .save_button.mdl-card
    = form_for [:admin, @event ,@invitee_structure], :builder => CustomFormBuilder do |f|
      .mdl-grid.mdl-card.mdl-shadow--1dp.p-b-15
        .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
          %h4.heading-border.p-t-10.m-b-15
            General Information
            / %a{:href => 'javascript:void(0);', :class =>'helpTag testhelp'}
            /   what's this?
        - data_present = @invitee_structure.check_invitee_data_present?
        = render :partial => "admin/layouts/whats_this_popup", :locals => {:image_name => "database.png", :section_id => "speaker_general_section"}
        = f.custom_text_field :attr1, "Column 1(Unique Identifier)", :value => f.object.attr1.present? ? f.object.attr1 : "Email id",:readonly => data_present ? true : false
        = f.custom_text_field :attr2, "Column 2", :value => f.object.attr2.present? ? f.object.attr2 : "First Name",:readonly => data_present ? true : false
        = f.custom_text_field :attr3, "Column 3", :value => f.object.attr3.present? ? f.object.attr3 : "Last Name",:readonly => data_present ? true : false
        = f.custom_text_field :attr4, "Column 4", :value => f.object.attr4.present? ? f.object.attr4 : "Designation",:readonly => data_present ? true : false
        = f.custom_text_field :attr5, "Column 5", :value => f.object.attr5.present? ? f.object.attr5 : "Department",:readonly => data_present ? true : false
        = f.custom_text_field :attr6, "Column 6", :value => f.object.attr6.present? ? f.object.attr6 : "Company",:readonly => data_present ? true : false
        = f.custom_text_field :attr7, "Column 7", :value => f.object.attr7.present? ? f.object.attr7 : "Address",:readonly => data_present ? true : false
        = f.custom_text_field :attr8, "Column 8", :value => f.object.attr8.present? ? f.object.attr8 : "City",:readonly => data_present ? true : false
        = f.custom_text_field :attr9, "Column 9", :value => f.object.attr9.present? ? f.object.attr9 : "Pin Code",:readonly => data_present ? true : false
        = f.custom_text_field :attr10, "Column 10", :value => f.object.attr10.present? ? f.object.attr10 : "STD Code",:readonly => data_present ? true : false
        = f.custom_text_field :attr11, "Column 11", :value => f.object.attr11.present? ? f.object.attr11 : "Landline Number",:readonly => data_present ? true : false
        = f.custom_text_field :attr12, "Column 12", :value => f.object.attr12.present? ? f.object.attr12 : "Mobile Number",:readonly => data_present ? true : false
        = f.custom_text_field :attr13, "Column 13", :value => f.object.attr13.present? ? f.object.attr13 : "DB Source ( Client / Shobiz)",:readonly => data_present ? true : false
        = f.custom_text_field :attr14, "Column 14", :value => f.object.attr14.present? ? f.object.attr14 : "Industry",:readonly => data_present ? true : false
        = f.custom_text_field :attr15, "Column 15", :value => f.object.attr15.present? ? f.object.attr15 : "Turnover",:readonly => data_present ? true : false
        = f.custom_text_field :attr16, "Column 16", :value => f.object.attr16.present? ? f.object.attr16 : "Employee",:readonly => data_present ? true : false
        = f.custom_text_field :attr17, "Column 17", :value => f.object.attr17.present? ? f.object.attr17 : '', :disabled => (f.object.attr17.present? and f.object.invitee_datum.length != 0 and data_present) ? true : false
        = f.custom_text_field :attr18, "Column 18", :value => f.object.attr18.present? ? f.object.attr18 : '', :disabled => (f.object.attr18.present? and f.object.invitee_datum.length != 0 and data_present) ? true : false
        = f.custom_text_field :attr19, "Column 19", :value => f.object.attr19.present? ? f.object.attr19 : '', :disabled => (f.object.attr19.present? and f.object.invitee_datum.length != 0 and data_present) ? true : false
        = f.custom_text_field :attr20, "Column 20", :value => f.object.attr20.present? ? f.object.attr20 : '', :disabled => (f.object.attr20.present? and f.object.invitee_datum.length != 0 and data_present) ? true : false
        = f.custom_text_field :attr21, "Column 21", :value => f.object.attr21.present? ? f.object.attr21 : '', :disabled => (f.object.attr21.present? and f.object.invitee_datum.length != 0 and data_present) ? true : false
        = f.hidden_field :uniq_identifier, :value => 'attr1'
        - if false#@invitee_structure.new_record?
          .mdl-cell--12-col.mdl-cell--12-col-tablet.m-8
            .form-group
              %label.col-lg-4.control-label.ml-color--shades-white
                Select Unique Identifier?
              .col-lg-7
                %i.arrow.single
                = f.select("invitee_structure", "uniq_identifier", [["Column 1", 'attr1'], ["Column 2", 'attr2'], ["Column 3", 'attr3'], ["Column 4", 'attr4'], ["Column 5", 'attr5'], ["Column 6", 'attr6'], ["Column 7", 'attr7'], ["Column 8", 'attr8'], ["Column 9", 'attr9'], ["Column 10", 'attr10'], ["Column 11", 'attr11'], ["Column 12", 'attr12'], ["Column 13", 'attr13'], ["Column 14", 'attr14'], ["Column 15", 'attr15']], {:selected => @invitee_structure.uniq_identifier}, {include_blank: 'None',:class=> 'select2-single form-control' })
      .fixed-activon-btn-new  
        = f.custom_submit_button "SAVE"
        .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
          .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
            = back_button(:back)
         
:javascript
  $(window).load(function(){
    $('.fileUpload input').change(function(){
      filename = $(this)[0].files[0].name;
      $(".file_name").text(filename);
    });
  })   