- if !objs.present? and !params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt.p-t-10
    = render :partial => 'admin/layouts/index_no_data_message', :locals => {:title => "awards", :url => "/admin/events/#{params[:event_id]}/awards/new", :msg => 'test'}
-elsif !objs.present? and params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt.p-t-10
    = get_search_data("awards")
- else 
  %table.table.mdl-data-table.fullwidth.ml-table-striped.ml-table-bordered{"template-pagination" => "custom/pager"}
    %tr
      %th Sequence
      %th Category
      %th Description
      %th Winners
      %th 
    - objs.each_with_index do |award, index|
      %tr
        %td.sortable
          .sort-indicator.frstsequence
            =# award.sequence.to_i rescue nil
          .orderseq
            - if index != 0
              %span= link_to "",admin_event_sequence_path(:event_id => award.event_id, :id => award.id, :seq_type => "up", :feature_type => "awards"),:class => "uparrow", :method => "put", :remote => true
            - if award.sequence.to_i != 0 and (@awards.length - 1) != index
              %span= link_to "",admin_event_sequence_path(:event_id => award.event_id, :id => award.id, :type => "down", :feature_type => "awards"),:class => "downarrow", :method => "put", :remote => true    
        %td.font16= link_to award.title, edit_admin_event_award_path(:event_id => award.event_id, :id => award.id)
        %td.description_adjust.font16
          = award.description
        %td.font16= award.winners.pluck(:name).join(", ")
        %td.IconDrp
          = more_vert_button(award.id)
          %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{award.id}"}
            = edit_link(params, award.id)
            = link_to admin_event_award_winners_path(award.event_id, award.id),:class => "mdl-menu__item" do
              Manage Winner
            = delete_link(params, award.id)  
            = link_to admin_log_change_path(:id => award.id,:resourse_type => "Award"), :method => "put", :class => "mdl-menu__item" do
              Force Destroy  
  =# will_paginate objs